<div class="box-container">

  <div class="subsection">
    <h1>Labor Information</h1>
  </div>


  <div class="subsection2">
    <div style="columns:4"
      [ngClass]="{'display': role == 'Admin' || role == 'Management' , 'none':role == 'EstateClerk' || role == 'CompanyAdmin'}">
      <label>Company : </label>
      <mat-select name="company" placeholder="Please Choose" [(ngModel)]="estate.companyId"
        (selectionChange)="companySelected()">
        <mat-option *ngFor="let company of companies" [value]="company.id">
          {{company.name}}
        </mat-option>
      </mat-select>

      <label>Estate : </label>
      <mat-select name="estate" placeholder="Please Choose" [(ngModel)]="estate.id"
        (selectionChange)="estateSelected()">
        <mat-option *ngFor="let estate of filterLGMAdmin" [value]="estate.id">
          {{estate.name + ', ' + estate.add1}}
        </mat-option>
      </mat-select>

      <label>Start Month Year : </label>
      <input type="month" [(ngModel)]="startMonth" (input)="chageStartMonth()" />
      <label>End Month Year : </label>
      <input type="month" [(ngModel)]="endMonth" (input)="monthChange()" [disabled]="startMonth == ''" />
    </div>

    <div style="columns:4"
      [ngClass]="{'display': role == 'CompanyAdmin', 'none':role == 'EstateClerk' || role == 'Admin' || role == 'Management' }">
      <div>
        <label>Company</label>
        <input type="text" [value]="company.name" disabled />
      </div>
      <label>Estate : </label>
      <mat-select name="estate" placeholder="Please Choose" [(ngModel)]="estate.id"
        (selectionChange)="estateSelected()">
        <mat-option *ngFor="let estate of filterCompanyAdmin" [value]="estate.id">
          {{estate.name + ', ' + estate.add1}}
        </mat-option>
      </mat-select>

      <label>Start Month Year : </label>
      <input type="month" [(ngModel)]="startMonth" (input)="chageStartMonth()" />
      <label>End Month Year : </label>
      <input type="month" [(ngModel)]="endMonth" (input)="monthChange()" [disabled]="startMonth == ''" />

    </div>

    <div style="columns: 3;"
      [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || role == 'Management' }">
      <label>Estate : </label>
      <input type="text" [value]="estate.name + ', ' + estate.add1" disabled />

      <label>Start Month Year : </label>
      <input type="month" [(ngModel)]="startMonth" (input)="chageStartMonth()" />
      <label>End Month Year : </label>
      <input type="month" [(ngModel)]="endMonth" (input)="monthChange()" [disabled]="startMonth == ''" />

    </div>

    <div style="margin-top: 3px; margin-bottom: 3px;" *ngIf="role == 'Admin' || role == 'Management' ">
      <button class="btn-add"
        (click)="exportToExcelAdmin(labors,localTapperFieldWorker,foreignTapperFieldWorker, 'Labor Information By Category Report')">
        Export Excel &nbsp; <i class="fa fa-file"></i>
      </button>
    </div>

    <div style="margin-top: 3px; margin-bottom: 3px;" *ngIf="role != 'Admin' && role != 'Management' ">
      <button class="btn-add"
        (click)="exportToExcelCompanyAdmin(labors,localTapperFieldWorker,foreignTapperFieldWorker, 'Labor Information By Category Report')">
        Export Excel &nbsp; <i class="fa fa-file"></i>
      </button>
    </div>

    <span *ngIf="labors.length > 0" style="font-size: 12px;">Last updated: {{ getEarliestMonthYear() }}</span>

    <div style="overflow-x: auto;">
      <table style="width: 100%;">
        <tr>
          <th>No</th>
          <th>Category</th>
          <th>Local</th>
          <th>Foreign</th>
          <th>Total</th>
        </tr>

        <tr *ngIf="isLoading">
          <td colspan="5">
            <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
            </ngx-skeleton-loader>
          </td>
        </tr>

        <tr *ngIf="!isLoading && labors.length == 0 && role == 'CompanyAdmin'">
          <td colspan="5" style="color: red; text-align: center;">No data found. Please choose estate, start and end
            month
            year</td>
        </tr>

        <tr *ngIf="!isLoading && labors.length == 0 && (role == 'Admin' || role == 'Management')">
          <td colspan="5" style="color: red; text-align: center;">No data found. Please choose company, estate, start
            and
            end month year</td>
        </tr>

        <tr *ngIf="!isLoading && labors.length == 0 && role == 'EstateClerk'">
          <td colspan="5" style="color: red; text-align: center;">No data found. Please choose start and end month year
          </td>
        </tr>

        <tbody *ngIf="!isLoading && labors.length > 0">
          <ng-container *ngIf="showAll">
            <tr *ngFor="let labor of labors; let i=index">
              <td>{{ i + 1 }}</td>
              <td>{{ labor.laborType }}</td>
              <td>{{ labor.totalAmountLocal }}</td>
              <td>{{ labor.totalAmountForeign }}</td>
              <td>{{ labor.totalAmountLocal + labor.totalAmountForeign }}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="showAll">
            <tr>
              <td>{{ labors.length + 1 }}</td>
              <td>TAPPER WORKER</td>
              <ng-container *ngFor="let local of localTapperFieldWorker">
                <td>{{ local.totalTapperWorker }}</td>
              </ng-container>
              <ng-container *ngFor="let local of foreignTapperFieldWorker">
                <td>{{ local.totalTapperWorker }}</td>
              </ng-container>
              <td>{{ totalTapperWorker }}</td>
            </tr>

            <tr>
              <td>{{ labors.length + 2 }}</td>
              <td>FIELD WORKER</td>
              <ng-container *ngFor="let local of localTapperFieldWorker">
                <td>{{ local.totalFieldWorker }}</td>
              </ng-container>
              <ng-container *ngFor="let local of foreignTapperFieldWorker">
                <td>{{ local.totalFieldWorker }}</td>
              </ng-container>
              <td>{{ totalFieldWorker }}</td>
            </tr>

            <tr>
              <th colspan="2">Total worker :</th>
              <th>{{calculateLocal()}}</th>
              <th>{{calculateForeign()}}</th>
              <th>{{calculateTotal()}}</th>
            </tr>

          </ng-container>

          <ng-container *ngIf="!showAll">
            <tr *ngFor="let labor of labors; let i=index">
              <td>{{ i + 1 }}</td>
              <td>{{ labor.laborType }}</td>
              <td>{{ labor.localNoOfWorkers }}</td>
              <td>{{ labor.foreignNoOfWorkers }}</td>
              <td>{{ labor.localNoOfWorkers + labor.foreignNoOfWorkers }}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="!showAll">
            <tr>
              <td>{{ labors.length + 1 }}</td>
              <td>TAPPER WORKER</td>
              <ng-container *ngFor="let local of localTapperFieldWorker">
                <td>{{ local.tapperWorker }}</td>
              </ng-container>
              <ng-container *ngFor="let local of foreignTapperFieldWorker">
                <td>{{ local.tapperWorker }}</td>
              </ng-container>
              <td>{{ totalTapperWorker }}</td>
            </tr>

            <tr>
              <td>{{ labors.length + 2 }}</td>
              <td>FIELD WORKER</td>
              <ng-container *ngFor="let local of localTapperFieldWorker">
                <td>{{ local.fieldWorker }}</td>
              </ng-container>
              <ng-container *ngFor="let local of foreignTapperFieldWorker">
                <td>{{ local.fieldWorker }}</td>
              </ng-container>
              <td>{{ totalFieldWorker }}</td>
            </tr>

            <tr>
              <th colspan="2">Total worker :</th>
              <th>{{calculateLocal()}}</th>
              <th>{{calculateForeign()}}</th>
              <th>{{calculateTotal()}}</th>
            </tr>

          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>