<div class="box-container">
  <h1>Rubber Sale</h1>
  <hr />

  <div style="columns: 3;"
    [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || role == 'Management'}">
    <label>Estate : </label>
    <input type="text" [value]="estate.name + ', ' + estate.add1" disabled />

    <label>Start Month Year : </label>
    <input type="month" [(ngModel)]="startMonth" (input)="chageStartMonth()" />
    <label>End Month Year : </label>
    <input type="month" [(ngModel)]="endMonth" (input)="monthChange()" [disabled]="startMonth == ''" />
  </div>

  <div style="float: left;margin-top: 3px; margin-bottom: 3px;">
    <button class="btn-add" (click)="exportToExcelYear(filterSales, 'Rubber Sale Report' )">
      Export Excel &nbsp; <i class="fa fa-file"></i>
    </button>
  </div><br /><br />

  <div *ngIf="radioButton">
    <label>Cost Type : </label>
    <label>
      <input type="radio" name="all" value="all" [(ngModel)]="category" (change)="OnRadioChange()"> All
    </label>
    <label>
      <input type="radio" name="history" value="history" [(ngModel)]="category" (change)="OnRadioChange()"> 
      History
    </label>
    <label>
      <input type="radio" name="complete" value="complete" [(ngModel)]="category" (change)="OnRadioChange()"> 
      Complete
    </label>
  </div>

  <div style="overflow-x: auto">
    <table style="width: 100%">
      <thead>
        <tr>
          <th *ngFor="let column of sortableColumns" scope="col" [appSort]="filterSales" [attr.data-order]="order"
            [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)">
            {{ column.displayText }}
          </th>
          <th width="30px">Status</th>
          <th width="30px">Action</th>
        </tr>
      </thead>

      <tr *ngIf="isLoading">
        <td colspan="18">
          <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
          </ngx-skeleton-loader>
        </td>
      </tr>

      <tr *ngIf="filterSales.length == 0 && !isLoading">
        <td colspan="18" style="color: red;">No data found. Please choose start and end month year</td>
      </tr>

      <ng-container *ngIf="!isLoading">
        <tbody
          *ngFor="let sale of filterSales | filter : term | paginate: { itemsPerPage: 10, currentPage: pageNumber }">
          <tr class="list" style="cursor: default;">
            <td>{{sale.saleDateTime | date : "dd/MM/YYYY"}}</td>
            <!-- <td>{{sale.paymentStatus}} -->
            <td>{{sale.buyerName}}</td>
            <td>{{sale.rubberType}}</td>
            <td>{{sale.letterOfConsentNo}}</td>
            <td>{{sale.weightSlipNo}}</td>
            <td>{{sale.receiptNo}}</td>
            <td>{{sale.wetWeight | number : "1.2-2" }}</td>
            <td>{{sale.drc | number : "1.2-2"}}</td>
            <td>{{ sale.buyerWetWeight || null | number : "1.2-2" }}</td>
            <td>{{sale.buyerDRC || null | number : "1.2-2"}}</td>
            <td>{{sale.buyerWetWeight * (sale.buyerDRC/100) || null | number : "1.2-2"}}</td>
            <td>{{sale.unitPrice || null | number : "1.2-2"}}</td>
            <td>{{sale.total || null | number : "1.2-2"}}</td>
            <td>{{sale.remark}}</td>
            <td *ngIf="sale.letterOfConsentNo" [ngClass]="{ 'complete-row': sale.paymentStatusId === 3, 'in-progress-row': sale.paymentStatusId !== 3 }">
              {{ sale.paymentStatusId === 3 ? 'Complete' : 'In Process' }}
            </td>
            <td *ngIf="!sale.letterOfConsentNo">History</td>
            <td><button class="btn-update" (click)="printReceipt(sale)" title="Print Receipt">
                <i class="fa fa-print"></i>
              </button> &nbsp;
            </td>

          </tr>
        </tbody>
      </ng-container>
    </table>
    <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
  </div>

</div>