<br/>
<div style="padding: 15px;">
<h1>Labor Shortage Information</h1>
<hr/>

<table class="table">
    <tr>
      <td><b>Item</b></td>
      <td><b>Amount Worker</b></td>
    </tr>
  
    <tr>
      <td>Total no of labor shortage in estate</td>
      <td><input type="number" name="workerShortage" [(ngModel)]="worker.workerShortage"/></td>
    </tr>
  
  </table><br/>

  <div style="padding-right: 10px">
    <button style="float: right" class="btn-update" type="submit" (click)="update()">
      Update &nbsp; <i class="fa fa-pencil"></i>
    </button>
  </div>
  <div style="padding-left: 10px">
    <button class="btn-back" (click)="back()">
      <i class="fa fa-arrow-left"></i> &nbsp; Back
    </button>
  </div>
  
  </div>

