<div style="text-align: center; margin-top: 10px; font-size: 12px;">
  <span>Month and year : {{worker.monthYear| date: 'MMMM yyyy'}}</span>
</div>

<div class="center-div" *ngIf="filterWorkerShortage.length == 0">
  <div class="box-container center-div" style="margin: 10px;">
    <table class="table">
      <tr>
        <th><b>Item</b> </th>
        <th><b>No of Worker Shortage <span style="color: red;">*</span></b></th>
      </tr>

      <tr>
        <td>Tapper worker in estate</td>
        <td class="td"><input class="total" type="number" placeholder="0" [(ngModel)]="worker.tapperWorkerShortage" />
        </td>
      </tr>

      <tr>
        <td>Field worker in estate</td>
        <td class="td"><input class="total" type="number" placeholder="0" [(ngModel)]="worker.fieldWorkerShortage" />
        </td>
      </tr>

      <tr >
        <td style="border-bottom: none;"></td>
        <td style="border-bottom: none;">
          <div style="float: right;">
            <button (click)="add()" class="btn-add" type="submit" style="margin-top: 10px;" [disabled]="isSubmit">
              <ng-container *ngIf="isSubmit; else notLoading">
                Loading...
              </ng-container>
              <ng-template #notLoading>
                Add &nbsp; <i class="fa fa-plus"></i>
              </ng-template>
            </button>
            
            <br />
          </div>
        </td>
      </tr>

    </table>
  </div>
</div>

<div class="center-div">
  <div *ngIf="filterWorkerShortage.length != 0" class="box-container" style="margin: 10px;">

    <table class="table">
      <tr>
        <th><b>Item</b> </th>
        <th><b>Total Current Worker</b></th>
        <th><b>Total Shortage Worker</b></th>
        <th><b>Total Worker Needed</b></th>
      </tr>

      <tbody *ngFor="let worker of filterWorkerShortage">
        <tr>
          <td class="td">Tapper worker</td>
          <td class="td">{{ totalSumTapper }}</td>
          <td class="td">{{ worker.tapperWorkerShortage }}</td>
          <td class="td">{{ totalSumTapper + worker.tapperWorkerShortage }}</td>
        </tr>

        <tr>
          <td class="td">Field Worker</td>
          <td class="td">{{ totalSumField }}</td>
          <td class="td">{{ worker.fieldWorkerShortage }}</td>
          <td class="td">{{ totalSumField + worker.fieldWorkerShortage }}</td>
        </tr>

        <tr>
          <td style="border-bottom: none;"></td>
          <td style="border-bottom: none;"></td>
          <td style="border-bottom: none;"></td>
          <td style="border-bottom: none;">
            <div style="float: right;">
              <button (click)="update(worker)" class="btn-update" type="submit" style="margin-top: 10px;">
                Update &nbsp; <i class="fa fa-pencil"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div>
  <button class="btn-back" (click)="back()">
    <i class="fa fa-arrow-left"></i> &nbsp; Back
  </button>
</div>

<app-spinner></app-spinner>