input[type="month"] {
  width: 20%;
  padding: 10px 7px;
  margin: 7px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.monthYear {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

input[type="number"],
input[type="text"] {
  width: 150px;
  padding: 3px 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.td {
  padding: 2px;
}

button:disabled {
  color: white;
  cursor: not-allowed;
}

td {
  text-align: center;
}

.box-container {
  width: 50%;
}

.center-div {
  flex-direction: column;
}

/* .btn-update{
    padding: 6px 13px;
  } */


  @media only screen and (max-width: 768px) {
    .box-container{
      width: 70%;
    }
  }
