<div class="box-container">
  <h1>Rubber Area by State</h1>

  <div style="columns: 3;">
    <label>Please choose year : </label>
    <input type="number" style="text-align: center;" placeholder="yyyy" [(ngModel)]="year" (change)="yearSelected()" />
  </div>

  <div style="float: left;margin-top: 3px; margin-bottom: 3px;">
    <button class="btn-add" (click)="exportToExcel(stateTotalAreasArray, 'Rubber Area By State Report '+year)">
      Export Excel &nbsp; <i class="fa fa-file"></i>
    </button>
  </div>

  <br />

  <input type="text" [(ngModel)]="term" placeholder="Filter State" />
  <div style="overflow-x: auto;">
    <table style="width: 100%">
      <tr>
        <th width="30px">No</th>
        <th style="cursor: pointer;" *ngFor="let column of sortableColumns" scope="col" [appSort]="stateTotalAreas"
          [attr.data-order]="order" [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)">
          {{ column.displayText }}
          <i class="fa" [ngClass]="{'fa-chevron-down': order === 'desc' && currentSortedColumn === column.columnName,
                                'fa-chevron-up': order === 'asc' && currentSortedColumn === column.columnName}"></i>
        </th>
      </tr>

      <tr *ngIf="isLoading">
        <td colspan="4">
          <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
          </ngx-skeleton-loader>
        </td>
      </tr>

      <ng-container *ngIf="!isLoading">
        <tr *ngFor="let town of stateTotalAreasArray | filter: term; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ town.state }}</td>
          <td>{{ town.estateNo }}</td>
          <td>{{ town.totalArea }}</td>
        </tr>
      </ng-container>

    </table>
  </div>
  <!-- <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls> -->
</div>