<div class="box-container">
  <h1>Estate Rubber Area by state</h1>
  <input type="text" [(ngModel)]="term" placeholder="Filter State" />
  <div style="overflow-x: auto;">
    <table style="width: 100%">
      <tr>
        <th width="30px">No</th>
        <th style="cursor: pointer;" *ngFor="let column of sortableColumns" scope="col" [appSort]="stateTotalAreas"
          [attr.data-order]="order" [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)">
          {{ column.displayText }}
          <i class="fa" [ngClass]="{'fa-chevron-down': order === 'desc' && currentSortedColumn === column.columnName,
                                'fa-chevron-up': order === 'asc' && currentSortedColumn === column.columnName}"></i>
        </th>
      </tr>

      <tr *ngIf="isLoading">
        <td colspan="4">
          <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
          </ngx-skeleton-loader>
        </td>
      </tr>

      <tr
        *ngFor="let town of stateTotalAreas | keyvalue | filter: term | paginate: { itemsPerPage: 20, currentPage: pageNumber }; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ town.value.count }}</td>
        <td>{{ town.key }}</td>
        <td>{{ town.value.totalArea }}</td>
      </tr>
    </table>
  </div>
  <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
</div>