<div class="monthYear">
    <p style="padding-right: 40px; margin-top: 15px;">Month and Year:</p>
    <input type="month" #month value="{{ previousMonth | date : 'YYY-MM' }}" (input)="monthSelected(month.value)" />
  </div>
  
  <div class="center-div"  *ngIf="filterWorkerShortage.length == 0" >
    <div class="box-container center-div" style="margin: 10px;">
      <table class="table">
        <tr>
          <td><b>Item</b> </td>
          <td><b>Amount Worker</b></td>
        </tr>
  
        <tr>
          <td>Total no of labor shortage in estate</td>
          <td class="td"><input class="total" type="number" placeholder="0" [(ngModel)]="worker.workerShortage" /></td>
        </tr>
  
      </table>
      <br />
  
      <div *ngIf="futureMonth()">
        <button (click)="add()" style="margin-left: 400px;" class="btn-add" type="submit">
          Add &nbsp; <i class="fa fa-plus"></i>
        </button>
        <br /><br />
      </div>
  
    </div>
    <br />
  </div>
  
  <div class="center-div">
    <div *ngIf="filterWorkerShortage.length != 0" class="box-container" style="margin: 10px;">
      <table class="table">
        <tr>
          <td><b>Item</b> </td>
          <td><b>Amount Worker</b></td>
          <td><b>Action</b></td>
          
        </tr>
  
        <tr *ngFor="let worker of filterWorkerShortage">
          <td class="td">Total no of labor shortage in estate</td>
          <td class="td">{{ worker.workerShortage }}</td>
          <td class="td"><button class="btn-update"><i class="fa fa-pencil" (click)="update(worker)"></i></button></td>
        </tr>
      </table><br/>
  
    </div> 
  </div>
