<h1 class="tittle">Dashboard Estate Clerk:
  <span *ngIf="!isLoadingEstateName" style="color: #DC4C64;">{{estate.name}}</span>
  <span><ngx-skeleton-loader *ngIf="isLoadingEstateName" appearance="line" animation="progress-dark"
      [theme]="{'height':'20px', 'width':'35%', 'margin-bottom':'-5px'}"></ngx-skeleton-loader></span>
</h1>

<hr />

<div class="box" style="padding-bottom: 15px;" *ngIf="warningProductionDrafted">
  <div class="column box-container" style="background-color: yellow; text-align: left;">
    <span><i class="fa fa-exclamation" style="padding: 7px;"></i> You have rubber production in drafted, please submit <a  routerLink="/e-estate/field-production/{{estateId}}" style="text-decoration: underline; cursor: pointer;">here</a></span><br />
  </div>
</div>

<div class="box" style="padding-bottom: 15px;" *ngIf="warningCostDrafted">
  <div class="column box-container" style="background-color: yellow; text-align: left;">
    <span><i class="fa fa-exclamation" style="padding: 7px;"></i> You have cost information in drafted, please submit <a  routerLink="/e-estate/cost-info/{{estateId}}" style="text-decoration: underline; cursor: pointer;">here</a></span><br />
  </div>
</div>

<div class="box">
  <div class="column box-container color1">
    <span>Current Tapper Worker</span><br />
    <span style="font-weight: bold;" *ngIf="!isLoadingTapper">{{currentTotalTapper}}</span>
    <div *ngIf="isLoadingTapper">
      <ngx-skeleton-loader appearance="line" animation="progress-dark"
        [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
    </div>
  </div>
  <div class="column box-container color2">
    <span>Current Field Worker</span><br />
    <span style="font-weight: bold;" *ngIf="!isLoadingField">{{currentTotalField}}</span>
    <div *ngIf="isLoadingField">
      <ngx-skeleton-loader appearance="line" animation="progress-dark"
        [theme]="{'height':'30px', 'width':'80px', 'background-color':'#0492c259'}"></ngx-skeleton-loader>
    </div>
  </div>
</div>
<br />

<div class="box">
  <div class="column box-container color3">
    <span>Current Mature Field Area</span><br />
    <span style="font-weight: bold;" *ngIf="!isLoadingProduction">{{matureArea}}</span>
    <div *ngIf="isLoadingProduction">
      <ngx-skeleton-loader appearance="line" animation="progress-dark"
        [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
    </div>
  </div>
  <div class="column box-container color4">
    <span>Current Immature Field Area</span><br />
    <span style="font-weight: bold;" *ngIf="!isLoadingProduction">{{immatureArea}}</span>
    <div *ngIf="isLoadingProduction">
      <ngx-skeleton-loader appearance="line" animation="progress-dark"
        [theme]="{'height':'30px', 'width':'80px', 'background-color':'#0492c259'}"></ngx-skeleton-loader>
    </div>
  </div>
</div>
<br />

<div class="box">
  <div class="column box-container color1">
    <span>Total Cuplump Dry Production (Kg) for {{yearNow}}</span><br />
    <div *ngIf="isLoadingProduction">
      <ngx-skeleton-loader appearance="line" animation="progress-dark"
        [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
    </div>
    <div *ngIf="!isLoadingProduction">
      <b><span *ngFor="let production of filterProductions">{{production.cuplumpDry | number: '1.2-2'}}</span></b>
    </div>
  </div>

  <div class="column box-container color2">
    <span>Total Latex Dry Production (Kg) for {{yearNow}}</span><br />
    <div *ngIf="isLoadingProduction">
      <ngx-skeleton-loader appearance="line" animation="progress-dark"
        [theme]="{'height':'30px', 'width':'80px', 'background-color':'#0492c259'}"></ngx-skeleton-loader>
    </div>
    <b><span *ngFor="let production of filterProductions">{{production.latexDry | number: '1.2-2'}}</span></b>
  </div>

  <div class="column box-container color3">
    <span>Total USS Dry Production (Kg) for {{yearNow}}</span><br />
    <div *ngIf="isLoadingProduction">
      <ngx-skeleton-loader appearance="line" animation="progress-dark"
        [theme]="{'height':'30px', 'width':'80px', 'background-color':'#48aaad91'}"></ngx-skeleton-loader>
    </div>
    <b><span *ngFor="let production of filterProductions">{{production.ussDry | number: '1.2-2'}}</span></b>
  </div>

  <div class="column box-container color4">
    <span>Total Other Dry Production (Kg) for {{yearNow}}</span><br />
    <div *ngIf="isLoadingProduction">
      <ngx-skeleton-loader appearance="line" animation="progress-dark"
        [theme]="{'height':'30px', 'width':'80px', 'background-color':'#4872ad8a'}"></ngx-skeleton-loader>
    </div>
    <b><span *ngFor="let production of filterProductions">{{production.othersDry | number: '1.2-2'}}</span></b>
  </div>
</div>
<br />

<div class="box" style="justify-content: left;">
  <div class="column box-container" style="color:black;margin: none;">
    <span>Rubber Productivity yearly</span>
    <div class="chart-container">
      <canvas id="chartProductivityEstate">{{ chartEstate }}</canvas>
    </div>
  </div>

  <app-notification style="display: none;"></app-notification>