<h1 class="tittle">Dashboard Estate Clerk:
  <span *ngIf="!isLoadingEstateName" style="color: #DC4C64;">{{estate.name + " (" + estate.licenseNo + ")"}}</span>
  <span><ngx-skeleton-loader *ngIf="isLoadingEstateName" appearance="line" animation="progress-dark"
      [theme]="{'height':'20px', 'width':'35%', 'margin-bottom':'-5px'}"></ngx-skeleton-loader></span>
</h1>

<hr />


<div style="columns:2">
  <div class="box-container-outer">
    <span style="font-size: 14px;font-weight: bold;">Current Rubber Area (Ha)</span>
    <div class="box">
      <!-- <div class="column box-container color3">
        <div class="span-word">
          <span>Mature</span><br />
          <span style="font-weight: bold;" *ngIf="!isLoadingMatureArea">{{matureArea}}</span>
        </div>
        <div *ngIf="isLoadingMatureArea">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div> -->

      <div class="column box-container color4">
        <div class="span-word">
          <span style="font-weight: bold;">Tapped</span><br />
          <span  *ngIf="!isLoadingTappedArea">{{tappedArea | number:'1.2-2'}}</span>
        </div>
        <div *ngIf="isLoadingTappedArea">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#0492c259'}"></ngx-skeleton-loader>
        </div>
      </div>

      <div class="column box-container color4">
        <div class="span-word">
          <span style="font-weight: bold;">Immature</span><br />
          <span  *ngIf="!isLoadingImmatureArea">{{immatureArea | number:'1.2-2'}}</span>
        </div>
        <div *ngIf="isLoadingImmatureArea">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#0492c259'}"></ngx-skeleton-loader>
        </div>
      </div>

      
    </div>
  </div>
  <br />

  <div class="box-container-outer">
    <span style="font-size: 14px;font-weight: bold;">Current Rubber Dry Production (Kg)</span>
    <div class="box">
      <div class="column box-container color1">
        <div class="span-word">
          <span style="font-weight: bold;">Cuplump</span><br />
          <div *ngIf="!isLoadingProduction">
            <span>{{totalCuplumpDry | number: '1.2-2'}}</span>
          </div>
        </div>
        <div *ngIf="isLoadingProduction">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div>

      <div class="column box-container color2">
        <div class="span-word">
          <span  style="font-weight: bold;">Latex</span><br />
          <div *ngIf="!isLoadingProduction">
            <span>{{totalLatexDry | number: '1.2-2'}}</span>
          </div>
        </div>
        <div *ngIf="isLoadingProduction">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#0492c259'}"></ngx-skeleton-loader>
        </div>
      </div>

      <div class="column box-container color2">
        <div class="span-word">
          <span style="font-weight: bold;">Total</span><br />
          <span *ngIf="!isLoadingProduction">{{totalCuplumpDry + totalLatexDry | number: '1.2-2' }}</span>
        </div>
        <div *ngIf="isLoadingProduction">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div>

    </div>
  </div>
</div>

<div style="columns:2">
  <div class="box-container-outer">
    <span style="font-size: 14px;font-weight: bold;">Tapper Worker</span>
    <div class="box">
      <div class="column box-container color1">
        <div class="span-word">
          <span style="font-weight: bold;" >Current</span><br />
          <span  *ngIf="!isLoadingTapper">{{currentTotalTapper}}</span>
        </div>
        <div *ngIf="isLoadingTapper">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div>

      <div class="column box-container color1">
        <div class="span-word">
          <span style="font-weight: bold;" >Shortage</span><br />
          <span  *ngIf="!isLoadingTapperShortage">{{tapperShortage}}</span>
        </div>
        <div *ngIf="isLoadingTapperShortage">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div>
      
    </div>
  </div>

  <div class="box-container-outer">
    <span style="font-size: 14px;font-weight: bold;">Field Worker</span>
    <div class="box">
      

      <div class="column box-container color2">
        <div class="span-word">
          <span style="font-weight: bold;" >Current</span><br />
          <span  *ngIf="!isLoadingField">{{currentTotalField}}</span>
        </div>
        <div *ngIf="isLoadingField">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#0492c259'}"></ngx-skeleton-loader>
        </div>
      </div>

      <div class="column box-container color2">
        <div class="span-word">
          <span style="font-weight: bold;">Shortage</span><br />
          <span  *ngIf="!isLoadingFieldShortage">{{fieldShortage}}</span>
        </div>
        <div *ngIf="isLoadingFieldShortage">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#0492c259'}"></ngx-skeleton-loader>
        </div>
      </div>

      
    </div>
  </div>

</div>
<br />

<div class="box-container-outer">
  <span style="font-size: 14px;font-weight: bold;">Current Rubber Productivity (Kg/Ha)</span>
  <div class="box">
    <div class="column box-container color4">
      <div class="span-word">
        <span style="font-weight: bold;">Cuplump</span><br />
        <div *ngIf="!isLoadingProduction">
          <span *ngFor="let cuplumpProductivity of productivityByYear">{{ (cuplumpProductivity.totalCuplumpDry && cuplumpProductivity.totalArea) ? (cuplumpProductivity.totalCuplumpDry / cuplumpProductivity.totalArea | number: '1.2-2') : 0 }}</span>
        </div>
      </div>
      <div *ngIf="isLoadingProduction">
        <ngx-skeleton-loader appearance="line" animation="progress-dark"
          [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
      </div>
    </div>

    <div class="column box-container color1">
      <div class="span-word">
        <span style="font-weight: bold;">Latex</span><br />
        <div *ngIf="!isLoadingProduction">
          <span *ngFor="let cuplumpProductivity of productivityByYear">{{ (cuplumpProductivity.totalLatexDry && cuplumpProductivity.totalArea) ? (cuplumpProductivity.totalLatexDry / cuplumpProductivity.totalArea | number: '1.2-2') : 0 }}
          </span>
        </div>
      </div>
      <div *ngIf="isLoadingProduction">
        <ngx-skeleton-loader appearance="line" animation="progress-dark"
          [theme]="{'height':'30px', 'width':'80px', 'background-color':'#0492c259'}"></ngx-skeleton-loader>
      </div>
    </div>

    <div class="column box-container color2">
      <div class="span-word">
        <span style="font-weight: bold;">Total</span><br />
        <span *ngFor="let cuplumpProductivity of productivityByYear">{{ (cuplumpProductivity.totalRubberDry && cuplumpProductivity.totalArea) ? (cuplumpProductivity.totalRubberDry / cuplumpProductivity.totalArea | number: '1.2-2') : 0 }}</span>
      </div>
      <div *ngIf="isLoadingProduction">
        <ngx-skeleton-loader appearance="line" animation="progress-dark"
          [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div><br/>

<!-- <div class="box" style="justify-content: left;">
  <div class="column box-container" style="color:black;margin: none;">
    <span style="font-weight: bold;">Rubber Productivity by year</span>
    <div class="chart-container">
      <canvas id="chartProductivityEstate">{{ chartEstate }}</canvas>
    </div>
  </div> -->

  <app-notification style="display: none;"></app-notification>