<div class="box-container">
  <h1>Field Information</h1>
  <hr />


  <div class="box-container" *ngIf="role === 'EstateClerk'">
    <div style="margin-top: -10px">
      <button class="btn-add" routerLink="/e-estate/add-field/{{estate.id}}">
        Add Field &nbsp; <i class="fa fa-plus"></i>
      </button>
    </div>

    <input type="text" [(ngModel)]="term" placeholder="Filter Field" />

    <label><b>Total Area : {{ total | number:'1.2-2' }} Ha</b></label>
    <div style="overflow-x: auto">
      <table style="width: 100%">
        <tr>
          <th *ngFor="let column of sortableColumns" scope="col" [appSort]="estate.fields" [attr.data-order]="order"
            [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)">
            {{ column.displayText }}
            <i class="fa" [ngClass]="{'fa-chevron-down': order === 'desc' && currentSortedColumn === column.columnName,
                                   'fa-chevron-up': order === 'asc' && currentSortedColumn === column.columnName}"></i>
          </th>
          <th width="90px">Status</th>
          <th width="30px">Action</th>
        </tr>

        <tr *ngIf="isLoading">
          <td colspan="11">
            <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
            </ngx-skeleton-loader>
          </td>
        </tr>

        <tr *ngIf="fields.length == 0 && !isLoading">
          <td colspan="11" style="color: red;">No Field</td>
        </tr>

        <tbody *ngFor="let field of fields | filter : term | paginate: { itemsPerPage: itemsPerPage, currentPage: pageNumber }; let i = index">
          <tr class="list" style="cursor:default;">
            <td>{{ (pageNumber - 1) * itemsPerPage + i + 1 }}</td>
            <td style="cursor: pointer;" routerLink="/e-estate/field-detail/{{ field.id }}">
              <a [ngStyle]="{'color': (field.fieldGrants && field.fieldGrants.length === 0) ? 'red' : 'blue'}">{{ field.fieldName }}</a>
            </td>                     
            <td>{{ field.rubberArea | number:'1.2-2' }}</td>
            <td>{{ field.isMature == true ? "MATURE" : "IMMATURE" }}</td>
            <td>{{field.fieldStatus}}</td>
            <td>{{ field.yearPlanted !== 0 ? field.yearPlanted : '' }}</td>
            <td>{{ field.dateOpenTapping | date : "MMM-YYYY" }}</td>
            <td>{{ field.initialTreeStand !== 0 ? field.initialTreeStand : '' }}</td>
            <td>{{field.totalTask !== 0 ? field.totalTask : ''}}</td>

            <td *ngIf="result[field.id]?.length == 0 ">
              <button style="border-radius: 0px !important; cursor: default;" [ngClass]="{
                'active-btn': field.isActive == true,
                'inactive-btn': field.isActive == false
              }">
                {{ field.isActive == true ? "Active" : "Inactive" }}
              </button>
            </td>

            <td *ngIf="result[field.id] && result[field.id]?.length > 0">
              <button style="border-radius: 0px !important; cursor: default;" class="inactive-btn">
                Infected
              </button>
            </td>

            <td *ngIf="selectedField !== field"><i class="fa fa-chevron-down" style="cursor:pointer"
                (click)="toggleSelectedField(field)"></i></td>
            <td *ngIf="selectedField === field"><i class="fa fa-chevron-up" style="cursor:pointer"
                (click)="toggleSelectedField(field)"></i></td>
          </tr>

          <tr *ngIf="selectedField === field && conversionField.length !=0 ">
            <td colspan="11">
              <table style="width: 100%; background-color: antiquewhite;">
                <tr>
                  <th>Field/Block Name</th>
                  <th>Other Crop Conversion Name</th>
                  <th>Since Year</th>
                </tr>

                <tr *ngFor="let conversion of conversionField">
                  <td>{{conversion.fieldName}}</td>
                  <td>{{conversion.conversionCropName}}</td>
                  <td>{{conversion.sinceYear}}</td>
                </tr>
              </table>
            </td>
          </tr>

          <tr *ngIf="selectedField === field && conversionField.length ==0">
            <td style="width: 100%; background-color: antiquewhite;" colspan="11" style="color: red;">No field conversion data found</td>
          <tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

    </div>
  </div>
  <br />
  <div *ngIf="role === 'Admin' || role === 'CompanyAdmin'">
    <button class="btn-back" (click)="back()">
      <i class="fa fa-arrow-left"></i> &nbsp; Back
    </button>
  </div>
</div>