<div class="box-container">
  <ngx-skeleton-loader *ngIf="isLoading" appearance="line" animation="progress-dark"
    [theme]="{height:'20px', width:'50px'}"> </ngx-skeleton-loader>
  <h1>{{ estate.name }}</h1>
  <hr />

  <h1>Field Information</h1>


  <div class="box">
    <div class="column">
      <form>
        <div style="columns: 2">
          <label>Field / Block :</label>
          <b><input type="text" name="fieldname" [(ngModel)]="field.fieldName" (change)="checkFieldName()" /></b>
          <label>Maturity :</label>
          <mat-select name="isMature" placeholder="Please Choose" name="maturity" [(ngModel)]="field.isMature"
            (selectionChange)="getcategory()">
            <mat-option [value]="true">MATURE</mat-option>
            <mat-option [value]="false">IMMATURE</mat-option>
          </mat-select>
        </div>
        <div style="columns: 2">
          <label>Field Status :</label>
          <mat-select name="fieldStatus" placeholder="Please Choose" name="cropCat" [(ngModel)]="field.fieldStatusId"
            (selectionChange)="diseaseName($event)">
            <mat-option *ngFor="let category of filterCropCategories" [value]="category.id">
              {{ category.fieldStatus }}
            </mat-option>
          </mat-select>

          <label>Field Area (Ha) :</label>
          <b><input type="number" name="fieldarea" [(ngModel)]="field.area" /></b>
        </div>

        <div style="columns: 2" *ngIf="!conversion">
          <label>Year Planted :</label>
          <b><input type="number" name="year" placeholder="yyyy" [(ngModel)]="field.yearPlanted" (change)="yearSelected()" /></b>

          <label>Initial Tree Stand :</label>
          <b><input type="number" name="treeStand" [(ngModel)]="field.initialTreeStand" /></b>

        </div>

        <div style="columns: 2" *ngIf="field.isMature == true">
          <label>Date Open Tapping :</label>
          <input name="dateopentapping" type="month" [(ngModel)]="field.dateOpenTapping" />

          <label>Total task :</label>
          <b><input type="number" name="totalTask" [(ngModel)]="field.totalTask" /></b>

        </div>

        <div>
          <button style="float: right" class="btn-add" type="submit" (click)="onSubmit()">
            Add &nbsp; <i class="fa fa-plus"></i>
          </button>
        </div>

      </form>
    </div>

    <div>
      <div style="columns: 2">
        <label>Clone :</label>
        <mat-select name="clone" class="clone" placeholder="Please Choose" [(ngModel)]="field.cloneId">
          <mat-option *ngFor="let clone of availableClones" [value]="clone.id">
            {{ clone.cloneName }}
          </mat-option>
        </mat-select>
        <div>
          <button style="margin-top: 28px; margin-left: 60px" class="btn-add" (click)="selectedClone(field)">
            Add Clone &nbsp; <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>

      <div class="box-container">
        <h1>Clones planted</h1>
        <hr />
        <div style="overflow-x: auto; overflow-y: auto">
          <table style="width: 100%">
            <tr>
              <th width="30px">No</th>
              <th>Clone Name</th>
              <th width="90px">Action</th>
            </tr>

            <tr *ngIf="selectedValues.length == 0">
              <td colspan="3" style="color: red;"><b>No Clone</b></td>
            </tr>

            <tr *ngFor="let value of selectedValues; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ value.cloneName }}</td>
              <td>
                <button class="btn-del" (click)="delete(i)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
  <br />

  <div class="box-container" *ngIf="role === 'EstateClerk'">
    <h1>List of fields</h1>
    <hr />
    <input type="text" [(ngModel)]="term" placeholder="Filter Field" />

    <label><b>Total Area : {{ total }} Ha</b></label>
    <div style="overflow-x: auto">
      <table style="width: 100%">
        <tr>
          <th *ngFor="let column of sortableColumns" scope="col" [appSort]="estate.fields" [attr.data-order]="order"
            [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)">
            {{ column.displayText }}
            <i class="fa" [ngClass]="{'fa-chevron-down': order === 'desc' && currentSortedColumn === column.columnName,
                                   'fa-chevron-up': order === 'asc' && currentSortedColumn === column.columnName}"></i>
          </th>
          <th width="90px">Status</th>
          <th width="30px">Action</th>
        </tr>

        <tr *ngIf="isLoading">
          <td colspan="10">
            <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
            </ngx-skeleton-loader>
          </td>
        </tr>

        <tr *ngIf="fields.length == 0 && !isLoading">
          <td colspan="10" style="color: red;"><b>No Field</b></td>
        </tr>

        <tbody *ngFor="let field of fields | filter : term | paginate: { itemsPerPage: 10, currentPage: pageNumber }">
          <tr class="list" style="cursor:default;">
            <td style="cursor: pointer;" routerLink="/e-estate/field-detail/{{ field.id }}"><a>{{field.fieldName}}</a>
            </td>
            <td>{{ field.area }}</td>
            <td>{{ field.isMature == true ? "MATURE" : "IMMATURE" }}</td>
            <td>{{field.fieldStatus}}</td>
            <td>{{ field.yearPlanted !== 0 ? field.yearPlanted : '' }}</td>
            <td>{{ field.dateOpenTapping | date : "MMM-YYYY" }}</td>
            <td>{{ field.initialTreeStand !== 0 ? field.initialTreeStand : '' }}</td>
            <td>{{field.totalTask !== 0 ? field.totalTask : ''}}</td>

            <td *ngIf="result[field.id]?.length == 0 ">
              <button style="border-radius: 0px !important; cursor: default;" [ngClass]="{
                'active-btn': field.isActive == true,
                'inactive-btn': field.isActive == false
              }">
                {{ field.isActive == true ? "Active" : "Inactive" }}
              </button>
            </td>

            <td *ngIf="result[field.id] && result[field.id]?.length > 0">
              <button style="border-radius: 0px !important; cursor: default;" class="inactive-btn">
                Infected
              </button>
            </td>

            <td *ngIf="selectedField !== field"><i class="fa fa-chevron-down" style="cursor:pointer"
                (click)="toggleSelectedField(field)"></i></td>
            <td *ngIf="selectedField === field"><i class="fa fa-chevron-up" style="cursor:pointer"
                (click)="toggleSelectedField(field)"></i></td>
          </tr>

          <tr *ngIf="selectedField === field && conversionField.length !=0 ">
            <td colspan="11">
              <table style="width: 100%; background-color: antiquewhite;">
                <tr>
                  <th>Field/Block Name</th>
                  <th>Other Crop Conversion Name</th>
                  <th>Since Year</th>
                </tr>

                <tr *ngFor="let conversion of conversionField">
                  <td>{{conversion.fieldName}}</td>
                  <td>{{conversion.conversionCropName}}</td>
                  <td>{{conversion.sinceYear}}</td>
                </tr>
              </table>
            </td>
          </tr>

          <tr *ngIf="selectedField === field && conversionField.length ==0">
            <td style="width: 100%; background-color: antiquewhite;" colspan="10" style="color: red;"> <b> No field conversion data found
              </b> </td>
          <tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

    </div>
  </div>
  <br />
  <div *ngIf="role === 'Admin' || role === 'CompanyAdmin'">
    <button class="btn-back" (click)="back()">
      <i class="fa fa-arrow-left"></i> &nbsp; Back
    </button>
  </div>
</div>