.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  width: 100%;
  margin: 0 10px;
  text-align: center;
  color: black;
}

.color1 {
  background-color: #59788e96;
  height: 65px;
}

.color2 {
  background-color: #0492c259;
  height: 65px;
}

.color3 {
  background-color: #48aaad91;
  height: 65px;
}

.color4 {
  background-color: #4872ad8a;
  height: 65px;
}

.mat-h1 {
  margin-bottom: 0px !important;
}

.tittle {
  font-size: 20px !important;
  text-align: center;
}

/* .tittle>span{
  font-size: 15px;
} */

@media (max-width: 1152px) {
  .box span {
    font-size: 12px;
  }
}

@media (max-width: 922px) {
  .color1 {
    height: 65px;
  }
  .color2 {
    height: 65px;
  }
}

.box-container {
  padding: 5px !important;
}

.title2{
  font-size: 14px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .title2{
    font-size: 12px;
  }

  .tittle{
    font-size: 17px !important;
  }
}
