<br />
<h1>Slide Announcement Utility</h1>
<form>
  <label>Tittle : </label>
  <input type="text" name="tittle" [(ngModel)]="announcement.tittle" />
  <label>File Upload : </label>
  <input type="file" name="file" (change)="onFileSelected($event)" />
</form>

<button style="float: right" class="btn-add" (click)="submit()">
  Add &nbsp; <i class="fa fa-plus"></i>
</button>

<br /><br />
<hr />

<h1>List of Slide Announcement</h1>
<div class="box-container">
  <input type="text" [(ngModel)]="term" placeholder="Filter Slide Announcement" />
  <table style="width: 100%">
    <tr>
      <th width="30px">No</th>
      <th style="cursor: pointer;" *ngFor="let column of sortableColumns" scope="col" [appSort]="announcements"
        [attr.data-order]="order" [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)">
        {{ column.displayText }}
      </th>
      <th width="90px">Action</th>
    </tr>

    <tr *ngIf="isLoading">
      <td colspan="4">
        <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
        </ngx-skeleton-loader>
      </td>
    </tr>

    <tr
      *ngFor="let announcement of announcements | filter : term | paginate: { itemsPerPage: itemsPerPage, currentPage: pageNumber }; let i = index">
      <td>{{ (pageNumber - 1) * itemsPerPage + i + 1 }}</td>
      <td>{{ announcement.tittle }}</td>
      <td><img style="width: 30%; height: 30%;" [src]="baseUrl + '/Images/' + announcement.filePath" /></td>
      <td>
        <button (click)="status(announcement)" [ngClass]="{
            'active-btn': announcement.isActive == true,
            'inactive-btn': announcement.isActive == false
          }">
          {{ announcement.isActive == true ? "Active" : "Inactive" }}
        </button>
      </td>
    </tr>
  </table>

  <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

</div>