.list {
  cursor: default;
}

.btn-update {
  padding: 4px 13px;
}

th {
  cursor: pointer;
}

.box-container {
  box-shadow: none;
}

.complete-row {
  color: green;
}

.in-progress-row {
  color: #d5d525;
}

