<br />
<h1>Clone Utility</h1>
<form>
  <label>Clone Name : </label>
  <input type="text" name="name" [(ngModel)]="clone.cloneName" />
</form>

<button style="float: right" class="btn-add" (click)="submit()">
  Add &nbsp; <i class="fa fa-plus"></i>
</button>

<br /><br />
<hr />

<h1>List of Clones</h1>
<div class="box-container">
  <input type="text" [(ngModel)]="term" (ngModelChange)="onFilterChange($event)" placeholder="Filter Clone" />
  <table style="width: 100%">
    <tr>
      <th width="30px">No</th>
      <th style="cursor: pointer;" *ngFor="let column of sortableColumns" scope="col" [appSort]="clones"
        [attr.data-order]="order" [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)">
        {{ column.displayText }}
      </th>
      <th width="90px">Action</th>
    </tr>

    <tr *ngIf="isLoading">
      <td colspan="4">
        <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
        </ngx-skeleton-loader>
      </td>
    </tr>

    <tr
      *ngFor="let clone of clones | filter : term | paginate: { itemsPerPage: itemsPerPage, currentPage: pageNumber }; let i = index">
      <td>{{ calculateIndex(i) }}</td>
      <td>{{ clone.cloneName }}</td>
      <td>
        <button (click)="status(clone)" [ngClass]="{
            'active-btn': clone.isActive == true,
            'inactive-btn': clone.isActive == false
          }">
          {{ clone.isActive == true ? "Active" : "Inactive" }}
        </button>
      </td>
    </tr>
  </table>

  <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>


</div>