<div class="monthYear">
  <p style="padding-right: 40px; margin-top: 15px;">Month and Year:</p>
  <input type="month" #month value="{{ previousMonth | date : 'YYY-MM' }}" (input)="monthSelected(month.value)" />
</div>

<div *ngIf="filterLocalLabors.length == 0" class="center-div">
  <div class="box-container center-div" style="margin: 10px;">
    <table class="table">
      <tr>
        <td><b>Local Labor Type</b> </td>
        <td><b>Amount Local Worker</b></td>
      </tr>


      <tr *ngFor="let type of filterTypes; let i = index">
        <td>{{ type.laborType }}</td>
        <td class="td"><input class="total" type="number" placeholder="0" (input)="calculateTotalWorker()"
            [(ngModel)]="filterTypes[i].totalWorker" /></td>
      </tr>

      <tr>
        <td><b>Total Worker</b></td>
        <td class="td"><input class="total" type="number" [value]="totalWorker" disabled /></td>


      </tr>
    </table>
    <br />

    <div *ngIf="futureMonth()">
      <button (click)="add()" style="margin-left: 400px;" class="btn-add" type="submit">
        Add &nbsp; <i class="fa fa-plus"></i>
      </button>
      <br /><br />
    </div>

  </div>
  <br />
</div>

<div class="center-div">
  <div *ngIf="filterLocalLabors.length != 0" class="box-container" style="margin: 10px;">
    <table class="table">
      <tr>
        <td><b>Local Labor Type</b> </td>
        <td><b>Amount Worker</b></td>
        <td><b>Action</b></td>

      </tr>

      <tr *ngFor="let labor of filterLocalLabors">
        <td class="td">{{labor.laborTypeName}}</td>
        <td class="td">{{ labor.totalWorker }}</td>
        <td class="td"><button class="btn-update"><i class="fa fa-pencil" (click)="update(labor)"></i></button></td>
      </tr>

      <tr>
        <td><b>Total Worker</b></td>
        <td class="td"><b>{{ totalLocalWorker}}</b></td>
        <td></td>
      </tr>
    </table><br />

  </div>
</div>