<div *ngIf="isLoading">
  <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}"> </ngx-skeleton-loader>
</div>

<div class="box-container" *ngIf="!isLoading">
  <h1>{{ company.name }}</h1>
  <hr />

  <h1>Company Profile</h1>

  <div style="float:right;">
    <button class="btn-update" (click)="openDialog(company,companyDetail)">
      Update &nbsp; <i class="fa fa-pencil"></i>
    </button>
  </div>

  <div>
    <table>
      <tr>
        <td class="detail">Company Name</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{ company.name }}</td>
      </tr>

      <tr>
        <td class="detail">Company Registration No</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{ company.registrationNumber }}</td>
      </tr>

      <tr>
        <td class="detail">Establishment</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{ company.category }}</td>
      </tr>

      <tr>
        <td class="detail">Membership</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{companyDetail.membershipType}} </td>
      </tr>

      <tr>
        <td class="detail">Email</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{ company.email }}</td>
      </tr>

      <tr>
        <td class="detail">Phone No</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{company.phoneCode}} {{ company.phoneNo }}</td>
      </tr>

      <tr>
        <td class="detail">Official Company Website</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{ company.website }}</td>
      </tr>

      <tr>
        <td class="detail">Address</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">
          {{ company.add1 }} {{ company.add2 }} {{ company.add3 }}
        </td>
      </tr>

      <tr>
        <td class="detail">Postcode</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{ company.postcode }}</td>
      </tr>

      <tr>
        <td class="detail">State</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{ company.state}} </td>
      </tr>

    </table>
  </div>
  <br />

  <hr />

  <div>
    <h1>List of Additional Contact</h1>
    <button style="margin-bottom: 10px" class="btn-add" (click)="openDialogCompanyContact(contacts, company)">
      Add New Contact &nbsp; <i class="fa fa-plus"></i>
    </button>

    <input type="text" [(ngModel)]="term" placeholder="Filter Contact" />
    <div style="overflow-x: auto">
      <table style="width: 100%">
        <thead>
          <tr>
            <th *ngFor="let column of sortableColumnContacts" scope="col" [appSort]="contacts" [attr.data-order]="order"
              [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)">
              {{ column.displayText }}
            </th>
            <th width="90px">Status</th>
            <th width="30px">Action</th>
          </tr>
        </thead>

        <tr *ngIf="isLoading">
          <td colspan="6">
            <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
            </ngx-skeleton-loader>
          </td>
        </tr>

        <tr *ngIf="contacts.length == 0">
          <td colspan="6" style="color: red;"><b>No Additional Contact</b></td>
        </tr>

        <tbody
          *ngFor="let contact of contacts | filter : term | paginate: { itemsPerPage: 10, currentPage: pageNumber }">
          <tr class="list" style="cursor: default;">
            <td style="cursor: pointer;">{{contact.name}}</td>
            <td>{{ contact.position }}</td>
            <td>{{ contact.phoneNo }}</td>
            <td>{{ contact.email }} </td>
            <td>
              <button style="cursor: pointer;" (click)="statusContact(contact)" [ngClass]="{
                'active-btn': contact.isActive == true,
                'inactive-btn': contact.isActive == false
              }">
                {{ contact.isActive == true ? "Active" : "Inactive" }}
              </button>
            </td>
            <td>
              <button class="btn-update" (click)="openDialogCompanyContact(contact, company)">
                <i class="fa fa fa-pencil"></i>
              </button>
            </td>
          </tr>



        </tbody>
      </table>

      <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

    </div>
  </div>
  <br />

  <div class="box-container" *ngIf="userRole == 'Admin'">
    <h1>List of Estates</h1>
    <hr />

    <input type="text" [(ngModel)]="term" placeholder="Filter Estates" />
    <div style="overflow-x: auto">
      <table style="width: 100%">
        <thead>
          <tr>
            <th *ngFor="let column of sortableColumns" scope="col" [appSort]="company.premises"
              [attr.data-order]="order" [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)">
              {{ column.displayText }}
              <i class="fa"
                [ngClass]="{'fa-chevron-down': order === 'desc' && currentSortedColumn === column.columnName,
                                    'fa-chevron-up': order === 'asc' && currentSortedColumn === column.columnName}"></i>
            </th>
          </tr>
        </thead>

        <tr *ngIf="isLoading">
          <td colspan="7">
            <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
            </ngx-skeleton-loader>
          </td>
        </tr>

        <tr *ngIf="company.premises.length == 0">
          <td colspan="9" style="color: red;"><b>No Estate</b></td>
        </tr>

        <tbody
          *ngFor="let estate of company.premises | filter : term | paginate: { itemsPerPage: 10, currentPage: pageNumber }">
          <tr class="list" style="cursor: default;">
            <td style="cursor: pointer;" routerLink="/e-estate/estate-detail/{{ estate.id }}">
              <a>{{estate.name}}</a>
            </td>
            <td>{{ estate.state }}</td>
            <td>{{ estate.town }}</td>
            <td>{{ estate.email }} </td>
          </tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

    </div>
  </div><br />
  <div>
    <button class="btn-back" (click)="back()" *ngIf="userRole == 'Admin'">
      <i class="fa fa-arrow-left"></i> &nbsp; Back
    </button>
  </div>
  <br />
</div>