<div *ngIf="isLoading">
  <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}"> </ngx-skeleton-loader>
</div>

<div class="box-container" *ngIf="!isLoading">
  <h1>Company Profile</h1>
  <hr />

  <!-- <span style="font-size: 12px !important; font-weight: bold; text-decoration: underline;">Company Profile</span> -->

  <div *ngIf="userRole != 'Management'" style="float:right;">
    <button class="btn-update" (click)="openDialog(company,companyDetail)">
      Update &nbsp; <i class="fa fa-pencil"></i>
    </button>
  </div>

  <div>
    <table>
      <tr>
        <td class="detail">Company Name</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{ company.name }}</td>
      </tr>

      <tr>
        <td class="detail">Company Registration No</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{ company.registrationNumber }}</td>
      </tr>

      <tr>
        <td class="detail">Establishment</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{ company.category }}</td>
      </tr>

      <tr>
        <td class="detail">Membership</td>
        <td class="detail"><span>:</span></td>
        <td *ngIf="companyDetail.membershipType == null " class="detail" style="color: red;">Please update profile</td>
        <td *ngIf="companyDetail.membershipType != null " class="detail">{{companyDetail.membershipType}} </td>
      </tr>

      <tr>
        <td class="detail">Financial Year</td>
        <td class="detail"><span>:</span></td>
        <td *ngIf="companyDetail.startFinancialYear == null " class="detail" style="color: red;">Please update profile
        </td>
        <td *ngIf="companyDetail.startFinancialYear != null " class="detail">{{companyDetail.startFinancialYear + ' - '
          + companyDetail.endFinancialYear}} </td>
      </tr>

      <tr>
        <td class="detail">Email</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{ company.email }}</td>
      </tr>

      <tr>
        <td class="detail">Phone No</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{company.phoneCode}} {{ company.phoneNo }}</td>
      </tr>

      <tr>
        <td class="detail">Official Company Website</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{ company.website }}</td>
      </tr>

      <tr>
        <td class="detail">Address</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">
          {{ company.add1 }} {{ company.add2 }} {{ company.add3 }}
        </td>
      </tr>

      <tr>
        <td class="detail">Postcode</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{ company.postcode }}</td>
      </tr>

      <tr>
        <td class="detail">State</td>
        <td class="detail"><span>:</span></td>
        <td class="detail">{{ company.state}} </td>
      </tr>

    </table>
  </div>
  <br />

  <hr />

  <div>
    <h1>List of Additional Contact</h1>

    <div style="float: left;"  *ngIf="userRole != 'Management'">
      <button class="btn-add" (click)="openDialogCompanyContact(contacts, company)">
        Add New Contact &nbsp; <i class="fa fa-plus"></i>
      </button>
    </div>

    <input type="text" [(ngModel)]="termContact" placeholder="Filter Contact" />
    <div style="overflow-x: auto">
      <table style="width: 100%">
        <thead>
          <tr>
            <th>No</th>
            <th *ngFor="let column of sortableColumnContacts" scope="col" [appSort]="contacts" [attr.data-order]="order"
              [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)" >
              {{ column.displayText }}
              <!-- [ngStyle]="{'cursor': column.columnName === 'name' ? 'pointer' : 'auto'}"
              <i *ngIf="column.columnName === 'name'"
                [ngClass]="{'fa-sort': currentSortedColumn !== 'name', 'fa-sort-up': currentSortedColumn === 'name' && order === 'asc'
                , 'fa-sort-down': currentSortedColumn === 'name' && order === 'desc'}"
                class="fa"></i> -->
            </th>
            <th width="90px">Status</th>
            <th *ngIf="userRole != 'Management'" width="30px">Action</th>
          </tr>
        </thead>

        <tr *ngIf="isLoading">
          <td colspan="6">
            <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
            </ngx-skeleton-loader>
          </td>
        </tr>

        <tr *ngIf="contacts.length == 0 && userRole != 'Management'">
          <td colspan="7" style="color: red;">No Additional Contact</td>
        </tr>

        <tr *ngIf="contacts.length == 0 && userRole == 'Management'">
          <td colspan="6" style="color: red;">No Additional Contact</td>
        </tr>

        <tbody
          *ngFor="let contact of contacts | filter : termContact | paginate: { itemsPerPage: itemsPerPageContact, currentPage: contactsPageNumber, id: 'contacts'  }; let i = index">
          <tr class="list" style="cursor: default;">
            <td>{{ (contactsPageNumber - 1) * itemsPerPageContact + i + 1 }}</td>
            <td>{{contact.name}}</td>
            <td>{{ contact.position }}</td>
            <td>{{ contact.phoneNo }}</td>
            <td>{{ contact.email }} </td>
            <td>
              <button [disabled]="userRole == 'Management'" style="cursor: pointer;" (click)="statusContact(contact)" [ngClass]="{
                'active-btn': contact.isActive == true,
                'inactive-btn': contact.isActive == false
              }">
                {{ contact.isActive == true ? "Active" : "Inactive" }}
              </button>
            </td>
            <td *ngIf="userRole != 'Management'">
              <button class="btn-update" (click)="openDialogCompanyContact(contact, company)"
                style="padding: 3px 15px;">
                <i class="fa fa fa-pencil"></i>
              </button>
            </td>
          </tr>



        </tbody>
      </table>

      <pagination-controls (pageChange)="contactsPageNumber = $event" id="contacts"></pagination-controls>

    </div>
  </div>
  <br />

  <div class="box-container" *ngIf="userRole == 'Admin' || userRole == 'Management'">
    <!-- <span style="font-size: 12px; font-weight: bold; text-decoration: underline;">List of Estates</span> -->
    <h1>List of Estates</h1>

    <input type="text" [(ngModel)]="termEstate" placeholder="Filter Estates" />
    <div style="overflow-x: auto">
      <table style="width: 100%">
        <thead>
          <tr>
            <th *ngFor="let column of sortableColumns" scope="col" [appSort]="company.premises"
              [attr.data-order]="order" [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)">
              {{ column.displayText }}
            </th>
          </tr>
        </thead>

        <tr *ngIf="isLoading">
          <td colspan="7">
            <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
            </ngx-skeleton-loader>
          </td>
        </tr>

        <tr *ngIf="company.premises.length == 0">
          <td colspan="9" style="color: red;">No Estate</td>
        </tr>

        <tbody
          *ngFor="let estate of company.premises | filter : termEstate | paginate: { itemsPerPage: itemsPerPageEstate, currentPage: estatesPageNumber, id: 'estates' }; let i = index">
          <tr class="list" style="cursor: default;">
            <td>{{ (estatesPageNumber - 1) * itemsPerPageEstate + i + 1 }}</td>
            <td style="cursor: pointer;" routerLink="/estate-detail/{{ estate.licenseNo }}">
              <a>{{estate.name + ' (' + estate.licenseNo + ')' }}</a>
            </td>
            <td>{{ estate.state }}</td>
            <td>{{ estate.town }}</td>
            <td>{{ estate.email }} </td>
          </tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="estatesPageNumber = $event" id="estates"></pagination-controls>


    </div>
  </div><br />
  <div>
    <button class="btn-back" (click)="back()" *ngIf="userRole == 'Admin' || userRole == 'Management'">
      <i class="fa fa-arrow-left"></i> &nbsp; Back
    </button>
  </div>
  <br />
</div>