<div class="box-container">
  <div class="subsection">
    <h1>Contact Information</h1>
  </div>

  <div class="subsection2">
    <div *ngIf="estateId == 0">
      <div style="columns: 2" class="column">
        <label>Name <span style="color: red;">*</span> :</label>
        <input type="text" name="nbsp" [(ngModel)]="companyContact.name" />
        <label>Position <span style="color: red;">*</span> :</label>
        <input type="text" name="position" [(ngModel)]="companyContact.position" />
      </div>
      <div style="columns: 2">
        <label>Phone No (xxx-xxxxxxx / xx-xxxxxxxx) <span style="color: red;">*</span> :</label>
        <input type="text" name="phoneNo" [(ngModel)]="companyContact.phoneNo"
          (change)="validatePhoneNo(companyContact.phoneNo)" placeholder="xxx-xxxxxxx / xx-xxxxxxxx" />
        <label>Email <span style="color: red;">*</span> :</label>
        <input type="email" name="email" [(ngModel)]="companyContact.email" />
      </div>

      <div style="margin-top: 10px">
        <button *ngIf="companyContact.id == null" style="float: right" class="btn-add" type="submit"
          (click)="addCompanyContact()">
          Add Contact Company &nbsp; <i class="fa fa-plus"></i>
        </button>
        <button *ngIf="companyContact.id != null && estateId == 0" style="float: right" class="btn-update"
          (click)="updateCompanyContact()">
          Update &nbsp; <i class="fa fa-pencil"></i>
        </button>
      </div>
    </div>

    <div *ngIf="companyId == 0">
      <div style="columns: 2" class="column">
        <label>Name <span style="color: red;">*</span> :</label>
        <input type="text" name="nbsp" [(ngModel)]="estateContact.name" />
        <label>Position <span style="color: red;">*</span> :</label>
        <mat-select placeholder="Please Choose" name="position" [(ngModel)]="estateContact.position">
          <mat-option value="MANAGER">MANAGER</mat-option>
          <mat-option value="ASSISTANT MANAGER">ASSISTANT MANAGER</mat-option>
          <mat-option value="SUPERVISOR">SUPERVISOR</mat-option>
          <mat-option value="CLERK">CLERK</mat-option>
        </mat-select>
      </div>
      <div style="columns: 2">
        <label>Phone No (xxx-xxxxxxx / xx-xxxxxxxx) <span style="color: red;">*</span> :</label>
        <input type="text" name="phoneNo" [(ngModel)]="estateContact.phoneNo"
          (change)="validatePhoneNo(estateContact.phoneNo)" placeholder="xxx-xxxxxxx / xx-xxxxxxxx" />
        <label>Email <span style="color: red;">*</span>:</label>
        <input type="email" name="email" [(ngModel)]="estateContact.email" />
      </div>
    </div>

    <div style="margin-top: 10px">
      <button *ngIf="estateContact.id == null" style="float: right" class="btn-add" type="submit"
        (click)="addEstateContact()">
        Add Contact Estate &nbsp; <i class="fa fa-plus"></i>
      </button>
      <button *ngIf="estateContact.id != null && companyId == 0" style="float: right" class="btn-update" (click)="updateEstateContact()">
        Update &nbsp; <i class="fa fa-pencil"></i>
      </button>
    </div>

    <div style="margin-top: 10px">
      <button class="btn-back" (click)="back()">
        <i class="fa fa-arrow-left"></i> &nbsp; Back
      </button>
    </div>
  </div>

</div>

<app-spinner></app-spinner>