<div class="cont">
  <div class="container">
    <div class="form-container">
      <h1 style="font-size: 20px !important;">Welcome to RRIMestet</h1>
      <input style="width: 90%;" name="username" [(ngModel)]="loginUser.userName" type="text" placeholder="Username"
        required />
      <div class="password-toggle">
        <input style="width: 90%;" name="password" [(ngModel)]="loginUser.password"
          type="{{ showPassword ? 'text' : 'password' }}" placeholder="Password" required />
        <span (click)="togglePasswordVisibility()">
          <i class="fa" [class.fa-eye]="showPassword" [class.fa-eye-slash]="!showPassword"></i>
        </span>
        <br />
      </div>
      <span style="cursor: pointer; padding-bottom: 5px; font-size: 11px;" [routerLink]="['/forgotpassword']"><u>Forgot Password</u></span>
      <div style="padding-bottom: 5px;"><button (click)="login()"><span>LOGIN<i class="fa fa-right-to-bracket"></i></span></button></div>
      <span style="font-size: 11px;"> Dont have account ? <a routerLink="/register">Sign Up</a></span><br />

      <button (click)="loginStaff()">LOGIN AS STAFF LGM</button>

      <div>
        <button class="contact" [matMenuTriggerFor]="hubungiKamiMenu">
          Contact Us
        </button>
        <mat-menu #hubungiKamiMenu="matMenu">
          <button class="contact-menu"><i class="fa fa-address-card"></i>&nbsp; Contact No: 03-647 4637</button>
          <button class="contact-menu"><i class="fa fa-envelope"></i>&nbsp; Email: upe&#64;gmail.com</button>
          <button class="contact-menu"><i class="fa fa-map-pin"></i>&nbsp; Address: 18th Floor Bangunan Getah Asli
            (Menara) 148 Jalan Ampang 50450 Kuala Lumpur, Malaysia.</button>
        </mat-menu>
      </div>
    </div>

    <div class="overlay-container">
      <div class="overlay-panel">
        <app-annoucement></app-annoucement>
      </div>
    </div>
  </div>
</div>

<app-spinner></app-spinner>