<div class="box-container">
    <h1>Notification </h1>
    <hr>

    <span *ngIf="showEmptyMessage" ><b>You have no new notification</b> </span>

    <div class="alert" *ngIf="warningProductionDrafted" style="background-color: yellow;color: black;">
        <i class="fa fa-exclamation"></i> &nbsp; You have rubber production in drafted, please submit <a
        [routerLink]="['/field-production/', estateId]">here</a>
    </div>

    <div class="alert" *ngIf="warningGrantTitle" style="background-color: yellow;color: black;">
        <i class="fa fa-exclamation"></i> &nbsp; You have field that have 0 land title, please update <a
        [routerLink]="['/field-info/', estateId]">here</a>
    </div>

</div>