<br />
<h1>State Utility</h1>
<form>
  <label>State Name : </label>
  <input type="text" name="estateName" [(ngModel)]="state.state" />
</form>

<button style="float: right" class="btn-add" (click)="submit()">
  Add &nbsp; <i class="fa fa-plus"></i>
</button>

<br /><br />
<hr />

<h1>List of States</h1>
<div class="box-container">
  <input type="text" [(ngModel)]="term" (ngModelChange)="onFilterChange($event)" placeholder="Filter State" />
  <table style="width: 100%">
    <tr>
      <th width="30px">No</th>
      <th style="cursor: pointer;" *ngFor="let column of sortableColumns" scope="col" [appSort]="states"
        [attr.data-order]="order" [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)">
        {{ column.displayText }}
      </th>
      <th width="90px">Action</th>
    </tr>

    <tr *ngIf="isLoading">
      <td colspan="3">
        <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
        </ngx-skeleton-loader>
      </td>
    </tr>

    <tr
      *ngFor="let state of states | filter : term | paginate: { itemsPerPage: 10, currentPage: pageNumber }; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ state.state }}</td>
      <td>
        <button (click)="status(state)" [ngClass]="{
            'active-btn': state.isActive == true,
            'inactive-btn': state.isActive == false
          }">
          {{ state.isActive == true ? "Active" : "Inactive" }}
        </button>
      </td>
    </tr>
  </table>

  <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

</div>