<div class="cont">
  <div class="container">
    <div class="form-container">
      <h1>Forgot Password</h1>
      <hr>
      <form *ngIf="!isForgotPassword">
        <div class="column">
          <label>Username :</label>
          <input type="text" name="username" [(ngModel)]="register.userName" />
          <label>Email :</label>
          <input type="email" name="email" [(ngModel)]="register.email" />
        </div>

        <button style="float: right;" class="btn-add" (click)="submitForgotPassword()">Submit &nbsp; <i
            class="fa fa-plus"></i></button>
        <button style="float: left;" class="btn-back" (click)="back()">
          <i class="fa fa-arrow-left"></i> &nbsp; Back
        </button>
        <br />

      </form>
      <br />

      <form *ngIf="isForgotPassword">
        <div class="column">
          <label>New Password :</label>
          <div class="password-toggle">
            <input type="{{ showPassword ? 'text' : 'password' }}" name="password" [(ngModel)]="register.newPassword" />
            <span (click)="togglePasswordVisibility()">
              <i class="fa" [class.fa-eye]="showPassword" [class.fa-eye-slash]="!showPassword"></i>
            </span>
          </div>

          <label>Confirm Password :</label>
          <div class="password-toggle">
            <input type="{{ showPassword ? 'text' : 'password' }}" name="confirmPassword"
              [(ngModel)]="register.confirmPassword" (change)="checkingPassword()" />
            <span (click)="togglePasswordVisibility()">
              <i class="fa" [class.fa-eye]="showPassword" [class.fa-eye-slash]="!showPassword"></i>
            </span>
          </div>
        </div>

        <button style="float: right;" class="btn-add" (click)="submitNewPassword()">Submit &nbsp; <i
            class="fa fa-plus"></i></button>
        <br /><br />
      </form>

    </div>
  </div>