<br />
<div style="padding: 20px; margin-top: -192px;">
  <h1>Rubber Sale Information</h1>
  <hr />
  <div style="columns: 2" class="column">
    <label>Letter Of Consent No (Form 1) <span style="color: red;">*</span> :</label>
    <input type="text" name="letter" [(ngModel)]="rubberSale.letterOfConsentNo" disabled />
    <label>Date <span style="color: red;">*</span> :</label>
    <input type="date" #date name="date" value="{{formattedDate}}" (change)="selectedDate(date.value)" />
  </div>

  <div style="columns: 2">
    <label>Buyer <span style="color: red;">*</span> :</label>
    <select name="buyer" [(ngModel)]="rubberSale.buyerId">
      <option value="0" disabled selected>Please Choose</option>
      <option *ngFor="let buyer of buyers" value="{{buyer.id}}">
        {{buyer.buyerName}}
      </option>
    </select>
    <label>Rubber Type <span style="color: red;">*</span> :</label>
    <mat-select name="rubberType" placeholder="Please Choose" [(ngModel)]="rubberSale.rubberType">
      <mat-option value="CUPLUMP">CUPLUMP </mat-option>
      <mat-option value="LATEX">LATEX </mat-option>
    </mat-select>
  </div>

  <div style="columns: 2">
    <label>Wet Weight (Kg) <span style="color: red;">*</span> :</label>
    <input type="number" name="weight" [(ngModel)]="rubberSale.wetWeight" (input)="calculateTotalPrice()" />
    <label>Estimated DRC (%) <span style="color: red;">*</span> :</label>
    <input type="number" name="DRC" [(ngModel)]="rubberSale.drc" (blur)="rubberSale.rubberType === 'CUPLUMP' ? validateCuplumpDRC($event) : validateLatexDRC($event)"  />
  </div><br/>

  <div [style.columns]="deliveryAgent === 'yes' ? '2' : '1'">
    <label>Delivery agent <span style="color: red;">*</span> : </label><br />
    <div class="radio-container">
      <label>
        <input type="radio" name="choice" value="yes" [(ngModel)]="deliveryAgent" > Yes
      </label>
      <label>
        <input type="radio" name="choice" value="no" [(ngModel)]="deliveryAgent"> No
      </label>
    </div>

    <div *ngIf="deliveryAgent == 'yes'">
      <label>Delivery agent name <span style="color: red;">*</span> :</label>
      <input type="text" name="plateNo" [(ngModel)]="rubberSale.deliveryAgent" (change)="deliveryAgentRemark()"/>
    </div>

  </div><br/>

  <div style="columns: 2">
    <label>Transport Plate No <span style="color: red;">*</span> :</label>
    <input type="text" name="letter" [(ngModel)]="rubberSale.transportPlateNo" />
    <label>Driver Name <span style="color: red;">*</span> :</label>
    <input type="text" name="driverName" [(ngModel)]="rubberSale.driverName" />
  </div>

  <div style="columns: 2">
    <label>Driver Ic Number <span style="color: red;">*</span> :</label>
    <input type="text" name="driverName" [(ngModel)]="rubberSale.driverIc" />
  </div>

  <!-- <div style="columns: 2">
    <label>Price (RM/Kg) :</label>
    <input type="number" name="price" [(ngModel)]="rubberSale.unitPrice" placeholder="0.00"
      (input)="calculateTotalPrice()" />
    <label>Total Price (RM) :</label>
    <input type="number" name="total" [(ngModel)]="rubberSale.total" placeholder="0.00" disabled />
  </div> -->

  <div>
    <label>Remark :</label><br/>
    <!-- <span style="color: red; font-size: 11px;">**Please indicate the delivery agent if necessary</span> -->
    <textarea name="remark" [(ngModel)]="rubberSale.remark"></textarea>
  </div>

  <div style="margin-top: 10px">
    <button style="float: right" class="btn-update" (click)="update()">
      Update &nbsp; <i class="fa fa-pencil"></i>
    </button>
  </div>

  <div style="margin-top: 10px">
    <button class="btn-back" (click)="back()">
      <i class="fa fa-arrow-left"></i> &nbsp; Back
    </button>
  </div>
</div>

<app-spinner></app-spinner>