.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  width: 100%;
  margin: 0 10px;
  text-align: center;
  color: black;
}

.color1 {
  background-color: #a6cbd8; /* Similar to color 3 */
  height: 65px;
}

.color2 {
  background-color: #84d9e5; /* Similar to color 4 */
  height: 65px;
}

.color3 {
  background-color: #59788e96;
  height: 65px;
}

.color4 {
  background-color: #0492c259;
  height: 65px;
}

.color5 {
  background-color: #48aaad91;
  height: 65px;
}

.color6 {
  background-color: #4872ad8a;
  height: 65px;
}

.mat-h1 {
  margin-bottom: 0px !important;
}

.tittle {
  font-size: 20px !important;
  text-align: center;
}

.box-container {
  padding: 5px !important;
}

@media (max-width: 1152px) {
  .box span {
    font-size: 12px;
  }
}

@media (max-width: 922px) {
  .color1 {
    height: 65px;
  }
  .color2 {
    height: 65px;
  }
}
