<div id="print" style="padding: 10px;">
<h1 class="tittle">Estate Sector Dashboard</h1>
<hr />

<div>
<div style="float: left;" class="year">
  <label style="width: 57px;">Year : </label>
  <input type="number" #yearInput [value]="yearNow" (input)="yearSelected(yearInput)"/>
</div>

<div style="float: right; margin-top: 12px;">
  <button class="btn-update" (click)="print()">Print <i class="fa fa-print"></i></button>
</div>
<br/>
</div>

<br/>
<br/>

<div class="box1">
    <div class="box">
      <div class="column box-container color1">
        <div class="span-word">
          <span style="font-weight: bold;" >Total Company</span><br />
          <span  *ngIf="!isLoadingCompany">{{totalCompany}}</span>
        </div>
        <div *ngIf="isLoadingCompany">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div>

      <div class="column box-container color2">
        <div class="span-word">
          <span style="font-weight: bold;">Total Estate</span><br />
          <span  *ngIf="!isLoadingEstate">{{totalEstate}}</span>
        </div>
        <div *ngIf="isLoadingEstate">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#0492c259'}"></ngx-skeleton-loader>
        </div>
      </div>

      <div class="column box-container color3">
        <div class="span-word">
          <span style="font-weight: bold;">Total Registered Estate</span><br />
          <span  *ngIf="!isLoadingEstateDetail">{{totalRegistered}}</span>
        </div>
        <div *ngIf="isLoadingEstateDetail">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#0492c259'}"></ngx-skeleton-loader>
        </div>
      </div>

    </div>
  <br />

    <div class="box">
      <div class="column box-container color4">
        <div class="span-word">
          <span style="font-weight: bold;" >Total Tapped Area (Ha)</span><br />
          <span  *ngIf="!isLoadingTapped">{{tappedArea | number:'1.2-2'}}</span>
        </div>
        <div *ngIf="isLoadingTapped">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div>
      <div class="column box-container color5">
        <div class="span-word">
          <span style="font-weight: bold;" >Total Rubber Area (Ha)</span><br />
          <span  *ngIf="!isLoadingTapped">{{totalRubberArea | number:'1.2-2'}}</span>
        </div>
        <div *ngIf="isLoadingTapped">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
    
</div>

<div style="columns:2" class="print">
  <div class="box-container-outer">
    <span class="title2">Tapper Worker for {{yearNow}}</span>
    <div class="box">
      <div class="column box-container color6">
        <div class="span-word">
          <span style="font-weight: bold;" >Current</span><br />
          <span *ngIf="!isLoadingTapper">{{currentTotalTapper}}</span>
        </div>
        <div *ngIf="isLoadingTapper">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div>

      <div class="column box-container color1">
        <div class="span-word">
          <span style="font-weight: bold;" >Shortage</span><br />
          <span  *ngIf="!isLoadingTapperShortage">{{tapperShortage}}</span>
        </div>
        <div *ngIf="isLoadingTapperShortage">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="box-container-outer">
    <span style="font-size: 14px;">Current Worker Needed</span>
    <div class="box">
      <div class="column box-container color3">
        <div class="span-word">
          <span>Tapper</span><br />
          <span style="font-weight: bold;" *ngIf="!isLoadingTapperNeeded">{{totalTapperNeeded}}</span>
        </div>
        <div *ngIf="isLoadingTapperNeeded">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div>

      <div class="column box-container color4">
        <div class="span-word">
          <span>Field</span><br />
          <span style="font-weight: bold;" *ngIf="!isLoadingFieldNeeded">{{totalFieldNeeded}}</span>
        </div>
        <div *ngIf="isLoadingFieldNeeded">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#0492c259'}"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div> -->

  <div class="box-container-outer">
    <span class="title2">Field Worker for {{yearNow}}</span>
    <div class="box">
      <div class="column box-container color2">
        <div class="span-word">
          <span style="font-weight: bold;" >Current</span><br />
          <span  *ngIf="!isLoadingFieldShortage">{{fieldShortage}}</span>
        </div>
        <div *ngIf="isLoadingFieldShortage">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#0492c259'}"></ngx-skeleton-loader>
        </div>
      </div>

      <div class="column box-container color3">
        <div class="span-word">
          <span style="font-weight: bold;" >Shortage</span><br />
          <span  *ngIf="!isLoadingField">{{currentTotalField}}</span>
        </div>
        <div *ngIf="isLoadingField">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#0492c259'}"></ngx-skeleton-loader>
        </div>
      </div>

    </div>
  </div>
</div>
<br />

<div style="columns:2" class="print">
  <div class="box-container-outer">
    <span class="title2">Rubber Production (100% DRC) (Kg/Yr) for {{yearNow}}</span>
    <div class="box">
      <div class="column box-container color4">
        <div class="span-word">
          <span style="font-weight: bold;">Cuplump</span><br />
          <div *ngIf="!isLoadingProduction">
            <span>{{totalCuplumpDry | number: '1.2-2'}}</span>
          </div>
        </div>
        <div *ngIf="isLoadingProduction">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div>

      <div class="column box-container color5">
        <div class="span-word">
          <span style="font-weight: bold;">Latex</span><br />
          <div *ngIf="!isLoadingProduction">
            <span>{{totalLatexDry | number: '1.2-2'}}</span>
          </div>
        </div>
        <div *ngIf="isLoadingProduction">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#0492c259'}"></ngx-skeleton-loader>
        </div>
      </div>

      <div class="column box-container color6">
        <div class="span-word">
          <span style="font-weight: bold;">Total</span><br />
          <span  *ngIf="!isLoadingProduction">{{totalProduction | number: '1.2-2' }}</span>
        </div>
        <div *ngIf="isLoadingProduction">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div>
      
    </div>
  </div>

  <div class="box-container-outer">
    <span class="title2">Cost of Production (RM/Kg/Yr) for {{yearNow}}</span>
    <div class="box">
      <div class="column box-container color1">
        <div class="span-word">
          <span style="font-weight: bold;" >COP</span><br />
          <span  *ngIf="!isLoadingCop">{{ getCalculatedCop() | number: '1.2-2' }}</span>
        </div>
        <div *ngIf="isLoadingCop">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>
<br/>
</div>

<div style="columns:2" class="print">
  <div class="box-container-outer">
    <span class="title2">Total Area for {{yearNow}}</span>
    <div class="box">
      <div class="column box-container color2">
        <div class="span-word">
          <span style="font-weight: bold;">Tapped Area (Ha)</span><br />
          <span  *ngIf="!isLoadingTapped">{{tappedAreaByYear | number:'1.2-2'}}</span>
        </div>
        <div *ngIf="isLoadingProduction">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div>
      <div class="column box-container color3">
        <div class="span-word">
          <span style="font-weight: bold;">Rubber Area (Ha)</span><br />
          <span  *ngIf="!isLoadingTapped">{{totalRubberAreaByYear | number:'1.2-2'}}</span>
        </div>
        <div *ngIf="isLoadingProduction">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
      
  </div>

  <div class="box-container-outer">
    <span class="title2">Rubber Productivity (Kg/Ha/Yr) for {{yearNow}}</span>
    <div class="box">
      <div class="column box-container color4">
        <div class="span-word">
          <span style="font-weight: bold;">Total</span><br />
          <span *ngFor="let cuplumpProductivity of productivityByYear">
            {{ getProductivityValue(cuplumpProductivity) | number: '1.2-2' }}
          </span>
        </div>
        <div *ngIf="isLoadingProduction">
          <ngx-skeleton-loader appearance="line" animation="progress-dark"
            [theme]="{'height':'30px', 'width':'80px', 'background-color':'#59788e96'}"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>
<br/>
</div>
<br/>

<!-- <div class="box" style="justify-content: left;">
  <div class="column box-container" style="color:black;margin: none;">
    <span style="font-weight: bold; font-size: 14px;">Rubber Productivity by year</span>
    <div class="chart-container">
      <canvas id="chartProductivityAdmin">{{ chart }}</canvas>
    </div>
  </div>
</div> -->
</div>