.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.box span {
  font-size: 13px;
}

.column {
  width: 100%;
  margin: 0 5px;
  text-align: center;
  color: black;
}

.color1 {
  background-color: #59788e96;
  height: 65px;
}

.color2 {
  background-color: #0492c259;
  height: 65px;
}

.box-container {
  padding: 30px;
}

textarea {
  font-family: sans-serif;
}
