<h1 style="padding-top: 10px;"> &nbsp; &nbsp; Product Comparison</h1>
<hr />

<div class="box">
  <div class="column box-container color1">
    <span>Current Year: {{currentYear}} </span><br />
    <span>Production</span><br />
    <span style="font-size: 15px; font-weight: bold;">{{production.currentYearDry | number:'1.2-2'}}</span>
  </div>
  <div class="column box-container color2">
    <span>Previous Year: {{previousYear }}</span><br />
    <span>Production</span><br />
    <span style="font-size: 15px; font-weight: bold;">{{production.previousYearDry | number:'1.2-2' }}</span>
  </div>
</div>

<div style="padding: 15px;">
  <span>Your current year production is <b>{{ message }}</b> than previous year</span>
  <form>
    <label>Reason :</label><br />
    <textarea [(ngModel)]="production.reason" name="reason"></textarea>
  </form>
  <button style="float: right" class="btn-add" (click)="addProductionComparison()">
    Add &nbsp; <i class="fa fa-plus"></i>
  </button>
  <button style="float: left" class="btn-back" (click)="back()">
    <i class="fa fa-arrow-left"></i> &nbsp; Back
  </button>
  <br />
  <br />

</div>