<div class="box-container">
  <h1>List of Estates</h1>
  <hr />

  <input type="text" [(ngModel)]="term" placeholder="Filter Estate" />
  <div style="padding-bottom: 10px;">
    <button class="active-btn" [ngClass]="{'selectedActivebtn': isBtnActive}"
      (click)="filterActive(true)">Active</button> &nbsp;
    <button class="inactive-btn" [ngClass]="{'selectedInactivebtn': isBtnInactive}"
      (click)="filterInactive(false)">Inactive</button> &nbsp;
    <span style="cursor: pointer;" (click)="clearFilter()"><u>Clear Filter</u></span>
  </div>

  <div *ngIf="isLoading">
    <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}"> </ngx-skeleton-loader>
  </div>

  <div class="column" *ngIf="showDefault">
    <div class="box-container list"
      *ngFor="let estate of estates | filter : term | paginate: { itemsPerPage: 10, currentPage: pageNumber }"
      routerLink="/e-estate/estate-detail/{{ estate.id }}">
      <h3>
        <!-- <a>{{estate.estateName}}</a> -->
        <a>EstateName</a>
      </h3>
      <table>
        <tr>
          <td>Address</td>
          <td><span>:</span></td>
          <td>MYLESEN</td>
          <!-- <td>{{ estate.address1 }}, {{ estate.address2 }}, {{ estate.address3 }},</td> -->
        </tr>

        <tr>
          <td></td>
          <td><span>:</span></td>
          <td>MYLESEN</td>
          <!-- <td>{{ estate.postcode }}, {{ estate.town }}, {{ estate.state }}</td> -->
        </tr>

        <tr>
          <td>Company Name </td>
          <td><span>:</span></td>
          <td>MYLESEN</td>
          <!-- <td><b>{{ estate.companyName }}</b></td> -->
        </tr>

      </table>
      <button style="float: right; pointer-events: none; border-radius: 0px;" disabled [ngClass]="{
          'active-btn': estate.isActive == true,
          'inactive-btn': estate.isActive == false
        }">
        {{ estate.isActive == true ? "Active" : "Inactive" }}</button><br />
    </div>
  </div>

  <h1 *ngIf="showActive">List of Active Estates</h1>
  <div class="column" *ngIf="showActive">
    <div class="box-container list"
      *ngFor="let estate of activeEstates | filter : term | paginate: { itemsPerPage: 10, currentPage: pageNumber }"
      routerLink="/e-estate/estate-detail/{{ estate.id }}">
      <h3>
        <a>{{estate.estateName}}</a>
      </h3>
      <table>
        <tr>
          <td>Address</td>
          <td><span>:</span></td>
          <td>
            {{ estate.address1 }}, {{ estate.address2 }}, {{ estate.address3 }},
          </td>
        </tr>

        <tr>
          <td></td>
          <td><span>:</span></td>
          <td>{{ estate.postcode }}, {{ estate.town }}, {{ estate.state }} </td>
        </tr>

        <tr>
          <td>Company Name </td>
          <td><span>:</span></td>
          <td><b>{{ estate.companyName }}</b></td>
        </tr>

      </table>
      <button style="float: right; pointer-events: none; border-radius: 0px;" disabled [ngClass]="{
          'active-btn': estate.isActive == true,
          'inactive-btn': estate.isActive == false
        }">
        {{ estate.isActive == true ? "Active" : "Inactive" }}</button><br />
    </div>
  </div>

  <h1 *ngIf="showInactive">List of Inactive Estates</h1>
  <div class="column" *ngIf="showInactive">
    <div class="box-container list"
      *ngFor="let estate of inactiveEstates | filter : term | paginate: { itemsPerPage: 10, currentPage: pageNumber }"
      routerLink="/e-estate/estate-detail/{{ estate.id }}">
      <h3>
        <a>{{estate.estateName}}</a>
      </h3>
      <table>
        <tr>
          <td>Address</td>
          <td><span>:</span></td>
          <td>
            {{ estate.address1 }}, {{ estate.address2 }}, {{ estate.address3 }},
          </td>
        </tr>

        <tr>
          <td></td>
          <td><span>:</span></td>
          <td>{{ estate.postcode }}, {{ estate.town }}, {{ estate.state }}</td>
        </tr>

        <tr>
          <td>Company Name </td>
          <td><span>:</span></td>
          <td><b>{{ estate.companyName }}</b></td>
        </tr>

      </table>
      <button style="float: right; pointer-events: none; border-radius: 0px;" disabled [ngClass]="{
          'active-btn': estate.isActive == true,
          'inactive-btn': estate.isActive == false
        }">
        {{ estate.isActive == true ? "Active" : "Inactive" }}</button><br />
    </div>
  </div>

  <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

</div>