<div class="box-container">
  <h1>List of Estates</h1>
  <hr />

  <input type="text" [(ngModel)]="term" placeholder="Filter Estate" />

  <div *ngIf="isLoading">
    <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}"> </ngx-skeleton-loader>
  </div>

  <div class="column" *ngIf="showDefault">
    <div class="box-container list"
      *ngFor="let estate of estates | filter : term | paginate: { itemsPerPage: 10, currentPage: pageNumber }"
      routerLink="/e-estate/estate-detail/{{ estate.id }}">
      <h3>
        <a>{{estate.name}}</a>
      </h3>
      <table>
        <tr>
          <td>Address</td>
          <td><span>:</span></td>
          <td>{{ estate.add1 }} {{ estate.add2 }} {{ estate.add3 }}</td>
        </tr>

        <tr>
          <td></td>
          <td><span>:</span></td>
          <td>{{ estate.postcode }}, {{ estate.town }}, {{ estate.state }}</td>
        </tr>

        <tr>
          <td>Company Name </td>
          <td><span>:</span></td>
          <td><b>{{ estate.company }}</b></td>
        </tr>

      </table>
    </div>
  </div>

  <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

</div>