<input type="text" [(ngModel)]="term" (ngModelChange)="onFilterChange($event)" placeholder="Filter Rubber Stock" />

<div style="overflow-x: auto">
    <table style="width: 100%">
        <thead>
            <tr>
                <th *ngFor="let column of sortableColumns" scope="col" [appSort]="rubberStocks"
                    [attr.data-order]="order" [attr.data-name]="column.columnName"
                    (click)="toggleSort(column.columnName)">
                    {{ column.displayText }}
                </th>
                <th width="30px">Action</th>
            </tr>
        </thead>

        <tr *ngIf="isLoading">
            <td colspan="13">
                <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
                </ngx-skeleton-loader>
            </td>
        </tr>

        <tr *ngIf="rubberStocks.length == 0 && !isLoading">
            <td colspan="13" style="color: red;">No Cuplump Stock</td>
        </tr>

        <tbody
            *ngFor="let stock of rubberStocks | filter : term | paginate: { itemsPerPage: 10, currentPage: pageNumber }">
            <tr class="list" style="cursor: default;">
                <td>{{stock.monthYear}}</td>
                <td>{{stock.previousStock | number:'1.2-2'}}</td>
                <td>{{stock.totalProduction | number:'1.2-2' }}</td>
                <td>{{stock.totalSale | number:'1.2-2'}}</td>
                <td>{{stock.currentStock | number:'1.2-2'}}</td>
                <td [style.color]="stock.weightLoss > 15 ? 'red' : 'inherit'">{{stock.weightLoss | number:'1.2-2' }}
                </td>
                <td>
                    <button class="btn-update" (click)="openDialogEdit(stock,estate)"
                        [disabled]="isLastMonth(stock.monthYear)">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
</div>