<div style="padding: 20px;">
  <h1>Field Infected Information</h1>

  <div style="columns: 2">
    <label>Field / Block : </label>
    <input type="text" name="fieldName" [(ngModel)]="fieldInfected.fieldName" disabled />

    <label>Rubber Area (Ha) : </label>
    <input type="text" name="area" [(ngModel)]="fieldInfected.area" disabled />
  </div>

  <div style="columns: 2" class="column">
    <label>Date of screening :</label>
    <input type="date" name="date" #date value="{{formattedDate}}" (change)="selectedDate(date.value)" />
    <label>Level Infected :</label>
    <mat-select name="severity" placeholder="Please Choose" [(ngModel)]="fieldInfected.severityLevel">
      <mat-option value="HIGH">HIGH</mat-option>
      <mat-option value="MEDIUM">MEDIUM</mat-option>
      <mat-option value="LOW">LOW</mat-option>
    </mat-select>
  </div>

  <div style="columns: 2">

    <label>Disease Category : </label>
      <mat-select placeholder="Please Choose" name="category" [(ngModel)]="fieldInfected.diseaseCategoryId" (selectionChange)="getDiseaseName()">
        <mat-option *ngFor="let category of diseaseCategory" [value]="category.id">
          {{ category.category }}
        </mat-option>
      </mat-select>

    <label>Disease Name :</label>
    <mat-select name="diseaseName" placeholder="Please Choose" name="diseaseName"
      [(ngModel)]="fieldInfected.fieldDiseaseId">
      <mat-option *ngFor="let diseaseName of filterFieldDisease" [value]="diseaseName.id">
        {{ diseaseName.diseaseName }}
      </mat-option>
    </mat-select>
  </div>

  <div style="columns: 2" class="column">
    <label>Area Infected Percentage (%) : </label>
    <input type="number" name="percentage" [(ngModel)]="fieldInfected.areaInfectedPercentage" (change)="calculateArea()" />
    <label>Area Infected (Ha) : </label>
    <input type="number" name="percentage" [(ngModel)]="fieldInfected.areaInfected" disabled/>
  </div>

  <div style="columns: 2" *ngIf="fieldInfected.dateRecovered">
    <label>Date Recovered :</label>
    <input type="date" name="date" #date value="{{dateRecovered}}" (change)="selectedDateRecovered(date.value)" />
    <label>Remark :</label>
    <textarea [(ngModel)]="fieldInfected.remark"></textarea>
  </div>

  <div style="margin-top: 10px">
    <button style="float: right" class="btn-update" (click)="update()">
      Update &nbsp; <i class="fa fa-pencil"></i>
    </button>
  </div>

  <div style="margin-top: 10px" (click)="back()">
    <button class="btn-back">
      <i class="fa fa-arrow-left"></i> &nbsp; Back
    </button>
  </div>
</div>