<div class="box-container">
    <h1>User Information</h1>
    <hr />

    <div>   
        <table>
            <tr>
                <td>User Full Name</td>
                <td><span>:</span></td>
                <td>{{ user.fullName }}</td>
              </tr>
              <tr> 
                <td>Email</td>
                <td><span>:</span></td>
                <td>{{ user.email }}</td>
              </tr>
              <tr>                
                <td>License No</td>
                <td><span>:</span></td>
                <td>{{ result.licenseNo }}</td>
              </tr>
              <tr>                
                <td>Company Name</td>
                <td><span>:</span></td>
                <td>{{ result.companyName }}</td>
              </tr>
              <tr>
                <td>Estate Name</td>
                <td><span>:</span></td>
                <td>{{ result.premiseName }}, {{result.premiseAdd1}}</td>
              </tr>
              <tr>
                <td>Company Phone No</td>
                <td><span>:</span></td>
                <td>{{ result.companyPhoneNo }}</td>
              </tr>
              <tr>              
                <td>Position</td>
                <td><span>:</span></td>
                <td>{{ user.position }}</td>
              </tr>

              <tr>              
                <td>Role Name</td>
                <td><span>:</span></td>
                <td><mat-select name="roleName" placeholder="Please Choose" [(ngModel)]="user.roleId" >
                  <mat-option *ngFor="let role of roles" [value]="role.id">
                    {{role.name}}
                  </mat-option>
                </mat-select></td>
              </tr>
        </table>

    </div>
  
    <div style="padding-right: 10px"  style="float: right">
      
      <button class="btn-update" type="submit" (click)="update()">
        Update &nbsp; <i class="fa fa-pencil"></i>
      </button>&nbsp;
      <button class="btn-del" type="submit" (click)="deactive()">
        Deactive Account &nbsp; <i class="fa fa-trash"></i>
      </button>
      
    </div>
    <div style="padding-left: 10px">
      <button class="btn-back" (click)="back()">
        <i class="fa fa-arrow-left"></i> &nbsp; Back
      </button>
    </div>
  
  </div>

  <app-spinner></app-spinner>