<div class="box-container">
  <div class="subsection">
    <h1>Cost Information</h1>
  </div>

  <div class="subsection2">
    <span *ngIf="role == 'Admin' || role == 'Management'" style="color: red;font-size: 12px;">**Please insert start
      month
      and end month only to see data for all estates</span>

    <div style="columns:4"
      [ngClass]="{'display': role == 'Admin'|| role == 'Management' , 'none':role == 'EstateClerk' || role == 'CompanyAdmin'}">
      <label>Company : </label>
      <mat-select name="company" placeholder="Please Choose" [(ngModel)]="estate.companyId"
        (selectionChange)="companySelected()">
        <mat-option *ngFor="let company of companies" [value]="company.id">
          {{company.name}}
        </mat-option>
      </mat-select>

      <label>Estate : </label>
      <mat-select name="estate" placeholder="Please Choose" [(ngModel)]="estate.id"
        (selectionChange)="estateSelected()">
        <mat-option *ngFor="let estate of filterLGMAdmin" [value]="estate.id">
          {{estate.name + ', ' + estate.add1}}
        </mat-option>
      </mat-select>

      <label>Start Month Year : </label>
      <input type="month" [(ngModel)]="startMonth" (input)="chageStartMonth()" />
      <label>End Month Year : </label>
      <input type="month" [(ngModel)]="endMonth" (input)="monthChange()" [disabled]="startMonth == ''" />

    </div>

    <button
      [ngClass]="{'display': role == 'Admin' || role == 'Management', 'none':role == 'EstateClerk' || role == 'CompanyAdmin'}"
      class="btn-reset" (click)="reset()">Reset Filter</button>

    <div style="columns:4"
      [ngClass]="{'display': role == 'CompanyAdmin', 'none':role == 'EstateClerk' || role == 'Admin' || role == 'Management'}">
      <div>
        <label>Company</label>
        <input type="text" [value]="company.name" disabled />
      </div>
      <label>Estate : </label>
      <mat-select name="estate" placeholder="Please Choose" [(ngModel)]="estate.id"
        (selectionChange)="estateSelected()">
        <mat-option *ngFor="let estate of filterCompanyAdmin" [value]="estate.id">
          {{estate.name + ', ' + estate.add1}}
        </mat-option>
      </mat-select>
      <label>Start Month Year : </label>
      <input type="month" [(ngModel)]="startMonth" (input)="chageStartMonth()" />
      <label>End Month Year : </label>
      <input type="month" [(ngModel)]="endMonth" (input)="monthChange()" [disabled]="startMonth == ''" />

    </div>

    <div style="columns: 3;"
      [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || role == 'Management'}">
      <label>Estate : </label>
      <input type="text" [value]="estate.name + ', ' + estate.add1" disabled />

      <label>Start Month Year : </label>
      <input type="month" [(ngModel)]="startMonth" (input)="chageStartMonth()" />
      <label>End Month Year : </label>
      <input type="month" [(ngModel)]="endMonth" (input)="monthChange()" [disabled]="startMonth == ''" />
    </div>

    <div style="float: left;margin-top: 3px; margin-bottom: 3px;">
      <button class="btn-add" (click)="exportToExcelYear(filteredCostInformation, 'Cost Information Report')">
        Export Excel &nbsp; <i class="fa fa-file"></i>
      </button>
    </div><br /><br />

    <div *ngIf="radioButton">
      <label>Cost Type : </label>
      <label>
        <input type="radio" name="all" value="all" [(ngModel)]="costType" (change)="OnRadioChange()"> All
      </label>
      <label>
        <input type="radio" name="mature" value="mature" [(ngModel)]="costType" (change)="OnRadioChange()"> Direct
        Mature
        Cost
      </label>
      <label>
        <input type="radio" name="immature" value="immature" [(ngModel)]="costType" (change)="OnRadioChange()"> Direct
        Immature Cost
      </label>
      <label>
        <input type="radio" name="indirect" value="indirect" [(ngModel)]="costType" (change)="OnRadioChange()"> Indirect
        Cost
      </label>
    </div>

    <div *ngIf="costType == 'mature'">
      <hr>
      <label>Cost Subcategory 1 : </label>
      <label>
        <input type="radio" name="allSub" value="allSub" [(ngModel)]="costTypeSub" (change)="OnRadioChangeSub()"> All
      </label>
      <label>
        <input type="radio" name="manuring" value="manuring" [(ngModel)]="costTypeSub" (change)="OnRadioChangeSub()">
        Manuring
      </label>
      <label>
        <input type="radio" name="weeding" value="weeding" [(ngModel)]="costTypeSub" (change)="OnRadioChangeSub()">
        Weeding
      </label>
      <label>
        <input type="radio" name="others" value="others" [(ngModel)]="costTypeSub" (change)="OnRadioChangeSub()"> Others
        (
        Pet and Disease Control)
      </label>
      <label>
        <input type="radio" name="tapping" value="tapping" [(ngModel)]="costTypeSub" (change)="OnRadioChangeSub()">
        Tapping and Collection
      </label>
      <label>
        <input type="radio" name="stimulation" value="stimulation" [(ngModel)]="costTypeSub"
          (change)="OnRadioChangeSub()"> Stimulation
      </label>
      <label>
        <input type="radio" name="transport" value="transport" [(ngModel)]="costTypeSub" (change)="OnRadioChangeSub()">
        Transport to factory
      </label>
    </div>

    <div style="overflow-x: auto;">
      <table style="width: 100%">
        <tr>
          <th style="cursor: pointer;" *ngFor="let column of sortableColumns" scope="col"
            [appSort]="filteredCostInformation" [attr.data-order]="order" [attr.data-name]="column.columnName"
            (click)="toggleSort(column.columnName)" [ngStyle]="getColumnStyle(column.columnName)">
            {{ column.displayText }}
          </th>
          <th style="width: 10px;" *ngIf="startMonth == endMonth && endMonth != '' && !showAll"> Action </th>
        </tr>

        <tr *ngIf="isLoading">
          <td colspan="7">
            <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
            </ngx-skeleton-loader>
          </td>
        </tr>

        <tr *ngIf="!isLoading && filteredCostInformation.length == 0 && (role == 'Admin' || role == 'Management')">
          <td colspan="7" style="color: red; text-align: center;">No data found. Please choose company, estate, start
            and
            end month year
          </td>
        </tr>

        <tr *ngIf="!isLoading && filteredCostInformation.length == 0 && role == 'CompanyAdmin'">
          <td colspan="7" style="color: red; text-align: center;">No data found. Please choose estate, start and end
            month
            year</td>
        </tr>

        <tr *ngIf="!isLoading && filteredCostInformation.length == 0 && role == 'EstateClerk'">
          <td colspan="7" style="color: red; text-align: center;">No data found. Please choose start and end month year
          </td>
        </tr>

        <ng-container *ngIf="!isLoading && !showAll">
          <tr
            *ngFor="let cost of filteredCostInformation | filter : term | paginate: { itemsPerPage: itemsPerPage, currentPage: pageNumber }; let i = index">
            <td>{{ calculateIndex(i) }}</td>
            <td>{{ cost.costType }}</td>
            <td>{{ cost.isMature == true ? 'MATURE' : (cost.isMature == false ? 'IMMATURE' : 'N/A') }}</td>
            <td>{{ cost.costCategory }}</td>
            <td>{{ cost.costSubcategories1 }}</td>
            <td>{{ cost.costSubcategories2 }}</td>
            <td>{{ cost.amount | number: '1.2-2' }}</td>
            <td *ngIf="startMonth == endMonth && endMonth != '' && !showAll">
              <button class="btn-update" (click)="draftCost(cost)"> Draft </button>
            </td>
          </tr>

          <tr *ngIf="filteredCostInformation.length > 0">
            <th colspan="6" style="font-weight: bold;">Total Cost</th>
            <th>{{ totalAmount | number: '1.2-2' }}</th>
            <th colspan="1" *ngIf="startMonth == endMonth && endMonth != '' && !showAll"></th>
          </tr>
        </ng-container>


        <ng-container *ngIf="!isLoading && showAll">
          <tr
            *ngFor="let cost of filteredCostInformation | filter : term | paginate: { itemsPerPage: itemsPerPage, currentPage: pageNumber }; let i = index ">
            <td>{{ calculateIndex(i) }}</td>
            <td>{{ cost.costType }}</td>
            <td>{{ cost.isMature == true ? "MATURE" : (cost.isMature == false ? "IMMATURE" : 'N/A') }}</td>
            <td>{{ cost.costCategory }}</td>
            <td>{{ cost.costSubcategories1 }}</td>
            <td>{{ cost.costSubcategories2 }}</td>
            <td>{{ cost.totalAmount | number: '1.2-2' }}</td>
          </tr>

          <tr *ngIf="filteredCostInformation.length > 0">
            <th colspan="6" style="font-weight: bold;">Total Cost</th>
            <th>{{ totalAmount | number: '1.2-2' }}</th>
          </tr>
        </ng-container>
      </table>
    </div>
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  </div>

</div>