<div class="sidebar-container">

  <i class="fa fa-user"></i> &nbsp;
  <span>Log in as: </span>
  <div style="padding-bottom: 10px;" *ngIf="role == 'EstateClerk'">
    <span style="text-align: left;">{{ estate.name + " (" + estate.licenseNo + ")" }}</span>
  </div>

  <div style="padding-bottom: 10px;" *ngIf="role == 'CompanyAdmin'">
    <span style="text-align: left;">{{ company.name }}</span>
  </div>

  <div style="padding-bottom: 10px;" *ngIf="role == 'Admin' || role == 'Management'">
    <span style="text-align: left;">MALAYSIAN RUBBER BOARD</span>
  </div>



  <div
    [ngClass]="{'display': role == 'Admin' || role == 'Management' || role == 'CompanyAdmin' || role == 'EstateClerk'}">
    <button class="side-btn fixed" (click)="toggleGeneral()">
      General
      <div style="float: right;">
        <i class="fa" [ngClass]="{'fa-chevron-right': !showGeneral, 'fa-chevron-up': showGeneral}"
          style="cursor:pointer"></i>
      </div>
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'Admin' || role == 'Management', 'none':role == 'CompanyAdmin' || role == 'EstateClerk' || !showGeneral }">
    <button class="side-btn" routerLink="/company-list" routerLinkActive="active">
      List of all Companies
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'Admin' || role == 'Management', 'none':role == 'CompanyAdmin' || role == 'EstateClerk' || !showGeneral}">
    <button class="side-btn" routerLink="/estate-list" routerLinkActive="active">
      List of all Estates
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'CompanyAdmin', 'none':role == 'EstateClerk' || role == 'Admin' || role == 'Management' || !showGeneral}">
    <button class="side-btn" routerLink="/company-profile/{{ companyId }}" routerLinkActive="active">
      Company Profile
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || role == 'Management' || !showGeneral}">
    <button class="side-btn" routerLink="/estate-detail/{{ estateId }}" routerLinkActive="active">
      Estate Profile
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'CompanyAdmin', 'none':role == 'EstateClerk' || role == 'Admin' || role == 'Management' || !showGeneral}">
    <button class="side-btn" routerLink="/estate/{{ companyId }}" routerLinkActive="active">
      List of Estates
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || role == 'Management' || position == 'MANAGER'  || !showGeneral}">
    <button class="side-btn" routerLink="/field-info/{{estateId}}" routerLinkActive="active">
      Field Information
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || role == 'Management' || position == 'MANAGER' || !showGeneral}">
    <button class="side-btn" routerLink="/field-disease/{{estateId}}" routerLinkActive="active">
      Field Disease
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || role == 'Management' || position == 'MANAGER'}">
    <button class="side-btn fixed" (click)="toggleOthers()">
      Daily
      <div style="float: right;">
        <i class="fa" [ngClass]="{'fa-chevron-right': !showOthers, 'fa-chevron-up': showOthers}"
          style="cursor:pointer"></i>
      </div>
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || role == 'Management' || !showOthers}">
    <button class="side-btn" routerLink="/rubber-sale/{{ estateId }}" routerLinkActive="active">
      Rubber Sales
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || role == 'Management'}">
    <button class="side-btn fixed" (click)="toggleMonthly()">
      Monthly
      <div style="float: right;">
        <i class="fa" [ngClass]="{'fa-chevron-right': !showMonthly, 'fa-chevron-up': showMonthly}"
          style="cursor:pointer"></i>
      </div>
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || role == 'Management' || !showMonthly }">
    <button class="side-btn" routerLink="/field-production/{{estateId}}" routerLinkActive="active">
      Monthly Form
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || role == 'Management' || !showMonthly}">
    <button class="side-btn" routerLink="/cost-info/{{estateId}}" routerLinkActive="active">
      Cost Information
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || role == 'Management' || position == 'MANAGER' || !showMonthly }">
    <button class="side-btn" routerLink="/rubber-stock/{{estateId}}" routerLinkActive="active">
      Rubber Stock
    </button>
    <hr />
  </div>

  <!-- <div [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin'}">
    <button class="side-btn fixed" (click)="toggleYearly()">
      Yearly
      <div style="float: right;">
        <i class="fa" [ngClass]="{'fa-chevron-right': !showYearly, 'fa-chevron-up': showYearly}"
          style="cursor:pointer"></i>
      </div>
    </button>
    <hr />
  </div> -->



  <div
    [ngClass]="{'display': role == 'Admin' || role == 'Management' || role == 'CompanyAdmin' || role == 'EstateClerk'}">
    <button class="side-btn fixed" (click)="toggleReport()">
      Reports
      <div style="float: right;">
        <i class="fa" [ngClass]="{'fa-chevron-right': !showReport, 'fa-chevron-up': showReport}"
          style="cursor:pointer"></i>
      </div>
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'Admin' || role == 'Management' , 'none':role == 'CompanyAdmin' || role == 'EstateClerk' || !showReport}">
    <button class="side-btn" routerLink="/report-by-state" routerLinkActive="active">
      Rubber Area by State
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'Admin' || role == 'Management' , 'none':role == 'CompanyAdmin' || role == 'EstateClerk' || !showReport}">
    <button class="side-btn" routerLink="/report-rubber-area-by-clone/area-by-clone" routerLinkActive="active">
      Rubber Area by Clone
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'Admin' || role == 'Management'  || role == 'CompanyAdmin' || role == 'EstateClerk', 'none': !showReport}">
    <button class="side-btn" routerLink="/report-field-information" routerLinkActive="active">
      Field Information
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'Admin' || role == 'Management'  || role == 'CompanyAdmin' || role == 'EstateClerk', 'none': !showReport}">
    <button class="side-btn" routerLink="/report-labor-information" routerLinkActive="active">
      Labor Information
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'Admin' || role == 'Management'  || role == 'CompanyAdmin' || role == 'EstateClerk', 'none': !showReport}">
    <button class="side-btn" routerLink="/report-cost-information" routerLinkActive="active">
      Cost Information
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || role == 'Management'  || !showReport}">
    <button class="side-btn" routerLink="/report-rubber-sale" routerLinkActive="active">
      Rubber Sale
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'Admin' || role == 'Management'  || role == 'CompanyAdmin' || role == 'EstateClerk', 'none': !showReport}">
    <button class="side-btn" routerLink="/report-production-by-year" routerLinkActive="active">
      Production by Year
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'Admin' || role == 'Management' , 'none':role == 'CompanyAdmin' || role == 'EstateClerk' || !showReport}">
    <button class="side-btn" routerLink="/report-productivity-by-year" routerLinkActive="active">
      Productivity by Year
    </button>
    <hr />
  </div>

  <!-- <div
    [ngClass]="{'display': role == 'EstateClerk' || role == 'CompanyAdmin' || role == 'Admin' || role == 'Management', 'none': !showReport}">
    <button class="side-btn" routerLink="/polygon" routerLinkActive="active">
      Polygon
    </button>
    <hr />
  </div> -->

  <div
    [ngClass]="{'display': role == 'Admin' || role == 'EstateClerk', 'none': role == 'CompanyAdmin' || role == 'Management'  || position == 'MANAGER'}">
    <button class="side-btn fixed" (click)="toggleUtility()">
      Utilities
      <div style="float: right;">
        <i class="fa" [ngClass]="{'fa-chevron-right': !showUtility, 'fa-chevron-up': showUtility}"
          style="cursor:pointer"></i>
      </div>
    </button>
    <hr />
  </div>

  <div [ngClass]="{'display': role == 'Admin', 'none':role == 'CompanyAdmin' || role == 'EstateClerk' || !showUtility}">
    <button class="side-btn" routerLink="/utilities-admin" routerLinkActive="active">
      Utilities (Admin)
    </button>
    <hr />
  </div>

  <div [ngClass]="{'display': role == 'Admin', 'none':role == 'CompanyAdmin' || role == 'EstateClerk' || !showUtility}">
    <button class="side-btn" routerLink="/utility-manage-user" routerLinkActive="active">
      Manage User
    </button>
    <hr />
  </div>

  <div [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || !showUtility}">
    <button class="side-btn" routerLink="/utilities-clerk" routerLinkActive="active">
      Utilities (Clerk)
    </button>
    <hr />
  </div>

</div>