<div class="sidebar-container">
  <div [ngClass]="{'display': role == 'Admin' || role == 'CompanyAdmin' || role == 'EstateClerk'}">
    <!-- <div [ngClass]= "{'display': role == 'Admin' || role === 'EstateClerk', 'none':role == 'CompanyAdmin'}"> -->
    <button class="side-btn fixed" (click)="toggleGeneral()">
      General
      <div style="float: right;">
        <i class="fa" [ngClass]="{'fa-chevron-right': !showGeneral, 'fa-chevron-up': showGeneral}"
          style="cursor:pointer"></i>
      </div>
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'Admin', 'none':role == 'CompanyAdmin' || role == 'EstateClerk' || !showGeneral }">
    <button class="side-btn" routerLink="/e-estate/company-list" routerLinkActive="active">
      List of all Companies
    </button>
    <hr />
  </div>

  <div [ngClass]="{'display': role == 'Admin', 'none':role == 'CompanyAdmin' || role == 'EstateClerk' || !showGeneral}">
    <button class="side-btn" routerLink="/e-estate/estate-list" routerLinkActive="active">
      List of all Estates
    </button>
    <hr />
  </div>

  <!-- <div [ngClass]= "{'display': role == 'Admin' || role === 'CompanyAdmin', 'none':role == 'EstateClerk'}"> -->
  <div
    [ngClass]="{'display': role == 'CompanyAdmin', 'none':role == 'EstateClerk' || role == 'Admin' || !showGeneral}">
    <button class="side-btn" routerLink="/e-estate/company-profile/{{ companyId }}" routerLinkActive="active">
      Company Profile
    </button>
    <hr />
  </div>

  <!-- <div [ngClass]= "{'display': role == 'Admin' || role === 'CompanyAdmin', 'none':role == 'EstateClerk'}"> -->
  <div
    [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || !showGeneral}">
    <button class="side-btn" routerLink="/e-estate/estate-detail/{{ estateId }}" routerLinkActive="active">
      Estate Profile
    </button>
    <hr />
  </div>


  <!-- <div [ngClass]= "{'display': role == 'Admin' || role === 'CompanyAdmin', 'none':role == 'EstateClerk'}"> -->
  <div
    [ngClass]="{'display': role == 'CompanyAdmin', 'none':role == 'EstateClerk' || role == 'Admin' || !showGeneral}">
    <button class="side-btn" routerLink="/e-estate/estate/{{ companyId }}" routerLinkActive="active">
      List of Estates
    </button>
    <hr />
  </div>

  <div
    [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || !showGeneral}">
    <!-- <div [ngClass]= "{'display': role == 'Admin' || role === 'EstateClerk', 'none':role == 'CompanyAdmin'}"> -->
    <button class="side-btn" routerLink="/e-estate/field-info/{{estateId}}" routerLinkActive="active">
      Field Information
    </button>
    <hr />
  </div>

  <div [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin'}">
    <!-- <div [ngClass]= "{'display': role == 'Admin' || role === 'EstateClerk', 'none':role == 'CompanyAdmin'}"> -->
    <button class="side-btn fixed" (click)="toggleOthers()">
      Daily
      <div style="float: right;">
        <i class="fa" [ngClass]="{'fa-chevron-right': !showOthers, 'fa-chevron-up': showOthers}"
          style="cursor:pointer"></i>
      </div>
    </button>
    <hr />
  </div>

  <!-- <div [ngClass]= "{'display': role == 'Admin' || role === 'EstateClerk', 'none':role == 'CompanyAdmin'}"> -->
  <div [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || !showOthers}">
    <button class="side-btn" routerLink="/e-estate/rubber-sale/{{ estateId }}" routerLinkActive="active">
      Rubber Sales
    </button>
    <hr />
  </div>

  <div [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || !showOthers}">
    <!-- <div [ngClass]= "{'display': role == 'Admin' || role === 'EstateClerk', 'none':role == 'CompanyAdmin'}"> -->
    <button class="side-btn" routerLink="/e-estate/rubber-purchase/{{ estateId }}" routerLinkActive="active">
      Rubber Purchase
    </button>
    <hr />
  </div>

  <div [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin'}">
    <!-- <div [ngClass]= "{'display': role == 'Admin' || role === 'EstateClerk', 'none':role == 'CompanyAdmin'}"> -->
    <button class="side-btn fixed" (click)="toggleMonthly()">
      Monthly
      <div style="float: right;">
        <i class="fa" [ngClass]="{'fa-chevron-right': !showMonthly, 'fa-chevron-up': showMonthly}"
          style="cursor:pointer"></i>
      </div>
    </button>
    <hr />
  </div>

  <!-- <div [ngClass]= "{'display': role == 'Admin'|| role == 'EstateClerk', 'none':role == 'CompanyAdmin'}"> -->
  <div
    [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || !showMonthly }">
    <button class="side-btn" routerLink="/e-estate/field-production/{{estateId}}" routerLinkActive="active">
      Field Production
    </button>
    <hr />
  </div>

  <!-- <div [ngClass]= "{'display': role == 'Admin' || role === 'EstateClerk', 'none':role == 'CompanyAdmin'}"> -->
  <div
    [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || !showMonthly }">
    <button class="side-btn" routerLink="/e-estate/labor-info/{{estateId}}" routerLinkActive="active">
      Labor Information
    </button>
    <hr />
  </div>

  <div [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin'}">
    <!-- <div [ngClass]= "{'display': role == 'Admin' || role === 'EstateClerk', 'none':role == 'CompanyAdmin'}"> -->
    <button class="side-btn fixed" (click)="toggleYearly()">
      Yearly
      <div style="float: right;">
        <i class="fa" [ngClass]="{'fa-chevron-right': !showYearly, 'fa-chevron-up': showYearly}"
          style="cursor:pointer"></i>
      </div>
    </button>
    <hr />
  </div>

  <div [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || !showYearly}">
    <!-- <div [ngClass]= "{'display': role == 'Admin' || role === 'EstateClerk', 'none':role == 'CompanyAdmin'}"> -->
    <button class="side-btn" routerLink="/e-estate/cost-info/{{estateId}}" routerLinkActive="active">
      Cost Information
    </button>
    <hr />
  </div>


  <div [ngClass]="{'display': role == 'Admin' || role == 'CompanyAdmin' || role == 'EstateClerk'}">
    <!-- <div [ngClass]= "{'display': role == 'Admin' || role === 'EstateClerk', 'none':role == 'CompanyAdmin'}"> -->
    <button class="side-btn fixed" (click)="toggleReport()">
      Reports
      <div style="float: right;">
        <i class="fa" [ngClass]="{'fa-chevron-right': !showReport, 'fa-chevron-up': showReport}"
          style="cursor:pointer"></i>
      </div>
    </button>
    <hr />
  </div>

  <div [ngClass]="{'display': role == 'Admin' || role == 'CompanyAdmin' || role == 'EstateClerk', 'none': !showReport}">
    <button class="side-btn" routerLink="/e-estate/reports" routerLinkActive="active">
      Reports
    </button>
    <hr />
  </div>

  <div [ngClass]="{'display': role == 'Admin' || role == 'EstateClerk', 'none': role == 'CompanyAdmin'}">
    <!-- <div [ngClass]= "{'display': role == 'Admin' || role === 'EstateClerk', 'none':role == 'CompanyAdmin'}"> -->
    <button class="side-btn fixed" (click)="toggleUtility()">
      Utilities
      <div style="float: right;">
        <i class="fa" [ngClass]="{'fa-chevron-right': !showUtility, 'fa-chevron-up': showUtility}"
          style="cursor:pointer"></i>
      </div>
    </button>
    <hr />
  </div>

  <div [ngClass]="{'display': role == 'Admin', 'none':role == 'CompanyAdmin' || role == 'EstateClerk' || !showUtility}">
    <button class="side-btn" routerLink="/e-estate/utilities-admin" routerLinkActive="active">
      Utilities (Admin)
    </button>
    <hr />
  </div>

  <div [ngClass]="{'display': role == 'Admin', 'none':role == 'CompanyAdmin' || role == 'EstateClerk' || !showUtility}">
    <button class="side-btn" routerLink="/e-estate/utility-manage-user" routerLinkActive="active">
      Manage User
    </button>
    <hr />
  </div>

  <!-- <div [ngClass]= "{'display': role == 'Admin' || role == 'EstateClerk', 'none':role == 'CompanyAdmin'}"> -->
  <div
    [ngClass]="{'display': role == 'EstateClerk', 'none':role == 'CompanyAdmin' || role == 'Admin' || !showUtility}">
    <button class="side-btn" routerLink="/e-estate/utilities-clerk" routerLinkActive="active">
      Utilities (Clerk)
    </button>
    <hr />
  </div>

</div>