<div class="box-container">
    <div style="columns:4">

        <button class="btn" routerLink="rubber-production-by-estate" routerLinkActive="active">
            Rubber Production by Estate
        </button>

        <button class="btn" routerLink="rubber-production-yearly" routerLinkActive="active"
            [ngClass]="{'display': role == 'Admin', 'none':role == 'EstateClerk' || role == 'CompanyAdmin'}">
            Rubber Production by Year
        </button>
    </div>

    <router-outlet></router-outlet>
</div>