<div class="box-container">
    <div style="columns:4">

        <button class="btn" routerLink="rubber-production-yearly" routerLinkActive="active">
            Rubber Production
        </button>

        <button class="btn" routerLink="clone-production-yearly" routerLinkActive="active"
            [ngClass]="{'display': role == 'Admin', 'none':role == 'EstateClerk' || role == 'CompanyAdmin'}">
            Clone Production
        </button>
    </div>
    <br />
    <hr />

    <router-outlet></router-outlet>
</div>