<div class="monthYear">
  <p style="padding-right: 40px; margin-top: 15px;">Month and Year:</p>
  <input type="month" #month value="{{ previousMonth | date : 'YYY-MM' }}" (input)="monthSelected(month.value)" />
</div>

<div style="padding-left: 30px;padding-right: 30px;">
  <div style="width: 49%;">
    <div style="flex: 1;">
      <label>Country:</label>
      <mat-select name="country" placeholder="Please Choose" [(ngModel)]="labor.countryId" >
        <mat-option *ngFor="let country of filterCountries" [value]="country.id">
          {{ country.country }}
        </mat-option>
      </mat-select>
      <div class="remark">
        **To add new country that is not in the list, please inform LGM admin by clicking <a
          (click)="openCountry()">here</a>
      </div>
    </div>
  </div>

  <div style="columns: 2">
    <label>No of Checkrole Tapper :</label>
    <input type="number" name="tapperCheckrole" [(ngModel)]="labor.tapperCheckrole" />
    <label>No of Employed Tapper :</label>
    <input type="number" name="tapperContractor" [(ngModel)]="labor.tapperContractor" />
  </div>
  <div style="columns: 2">
    <label>No of Checkrole Field Worker :</label>
    <input type="number" name="fieldCheckrole" [(ngModel)]="labor.fieldCheckrole" />
    <label>No of Employed Field Worker :</label>
    <input type="number" name="fieldContractor" [(ngModel)]="labor.fieldContractor" />

  </div>

  <div *ngIf="futureMonth()">
    <button style="float: right" class="btn-add" type="submit" (click)="onSubmit(month.value)">
      Add &nbsp; <i class="fa fa-plus"></i>
    </button>
  </div>
  <br />
  <br />
  <!-- <h2>Total Worker: {{totalWorker}} people</h2> -->
</div>

<div class="box-container">
  <h1>List of Labor Information</h1>
  <hr />
  <div style="overflow-x: auto">
    <table style="width: 100%">
      <tr>
        <th>Month and Year</th>
        <th>Country</th>
        <th>No.of Checkrole Tappers</th>
        <th>No.of Tappers Employed by Contractors</th>
        <th>No.of Checkrole Field Workers</th>
        <th>No.of Field Workers Employed by Contractors</th>
        <th>Foreign Worker at Estate</th>
        <th width="90px">Action</th>
      </tr>

      <tr *ngIf="isLoading">
        <td colspan="10">
          <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
          </ngx-skeleton-loader>
        </td>
      </tr>

      <tr *ngFor="let labor of filterLabors | paginate: { itemsPerPage: 10, currentPage: pageNumber }">
        <td>{{ labor.monthYear | date : "MMM-yyyy" }}</td>
        <td>{{ labor.countryName }}</td>
        <td>{{ labor.tapperCheckrole }}</td>
        <td>{{ labor.tapperContractor }}</td>
        <td>{{ labor.fieldCheckrole }}</td>
        <td>{{ labor.fieldContractor }}</td>
        <td>
          <label>{{ labor.total }}</label>
        </td>

        <td style="column-count: 2;">
          <button class="btn-update" (click)="openDialog(labor)" >
            <i class="fa fa-pencil"></i>
          </button>
          <button style="float: right;" class="btn-del" (click)="delete(labor.id)" >
            <i class="fa fa-trash"></i>
          </button>
        </td>

      </tr>

      <tr>
        <th colspan="6">Total Foreign Worker : </th>
        <th>{{ totalForeignWorker }}</th>
        <th></th>
      </tr>
    </table>

    <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

  </div>
</div>