<div class="box-container">
    <div class="subsection">
        <h1>Estate Contact</h1>
    </div>

    <div class="subsection2">
        <div class="disable-tabs"></div>

        <div class="iframe-container">
            <iframe title="RRIMestet Dashboard" width="600" height="373.5"
                src="https://app.powerbi.com/view?r=eyJrIjoiNjg5NzY5YjEtN2RkMC00YzUyLTg3NDYtZWMxYmNhMzM5NmMyIiwidCI6IjIyZjA3MTJiLTVkZWYtNGQyMS1hMTZlLTMwZTVlMzM0NTQxZSIsImMiOjEwfQ%3D%3D&pageName=bace249bb876a5f80449"
                frameborder="0" allowFullScreen="true">
            </iframe>
        </div>
    </div>
</div>