<div class="print" #pdfContent>
    <button class="btn-print" (click)="print()">Print <i class="fa fa-print"></i></button>
    <div style="text-align: center;" style="border: 1px solid black; padding: 15px;">
        <table class="table1" width="90%">
            <tr *ngIf="rubberSale.letterOfConsentNo != ''"> 
                <td  colspan="8" style="text-align:right">
                    <qrcode [qrdata]="qrcodedata" [width]="80"></qrcode>
                </td>
            </tr>

            <tr *ngIf="rubberSale.letterOfConsentNo == ''"> 
                <td colspan="8" style="text-align:right; height: 80px;">
                </td>
            </tr>
            <div style="text-align: center; margin-top: -70px;">
                <table>
                    <tr>
                        <td colspan="8">
                            <span><img alt="Jata Negara" src="https://www.lgm.gov.my/webv2/assets/img/lgm-logo.png"
                                    style="height: 74px; width: 76px" /></span>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <td>
                            <span>[Peraturan 41]</span>
                            <br /><span>PERATURAN-PERATURAN</span>
                            <br /><span>LEMBAGA GETAH MALAYSIA (PELESENAN DAN PERMIT) 2014</span>
                            <br /><br /><b>KEBENARAN BERTULIS UNTUK PENGANGKUTAN GETAH</b>
                        </td>
                    </tr>
                    
                </table>
            </div>
        </table>
        <table class="table1" width="90%">
            <tr>
                <td style="width:3%"></td>
                <td style="width:15%"></td>
                <td style="width:30%"></td>
                <td style="width:26%"></td>
                <td style="width:3%"></td>
                <td style="width:15%"><b>No. Siri</b></td>
                <td style="width:1%">:</td>
                <td style="width:26%"><b>{{rubberSale.letterOfConsentNo}}</b></td>
            </tr>
            <tr>
                <td style="width:3%"></td>
                <td style="width:15%"></td>
                <td style="width:30%"></td>
                <td style="width:26%"></td>
                <td style="width:3%"></td>
                <td style="width:15%"><b>Tarikh</b></td>
                <td style="width:1%">:</td>
                <td style="width:26%"><span id="tarikh"><b>{{rubberSale.saleDateTime| date:'dd-MM-yyyy'}}</b></span></td>
            </tr>

        </table>
        <br />
        <table class="table1" width="90%">
            <tr>
                <td>
                    Saya/Kami* <b>{{ estate.name }}</b>
                    yang beralamat
                    di <b>{{estate.add1}} {{estate.add2}} {{estate.add3}}</b>
                    Pemegang Lesen No <b>{{estate.licenseNo}}</b> memperakui bahawa saya/kami*
                    ialah pemunya sah getah untuk mengangkut/memberi kebenaran mengangkut seperti perkara yang diperihalkan di bawah kepada 
                    <b>{{buyer.premiseName}}</b>
                    yang beralamat
                    di <b>{{buyer.premiseAdd1}} {{buyer.premiseAdd2}} {{buyer.premiseAdd3}} </b>
                    Pemegang Lesen No <b>{{buyer.licenseNo}}</b>
                </td>
            </tr>
        </table>
        <br>
        <table class="myTable" width="90%">
            <tr style="background-color:#D5D2D1;">
                <th style="width:20%">&nbsp;Jenis Getah</th>
                <th style="width:20%">&nbsp;Berat Basah (Kg)</th>
                <th style="width:20%">&nbsp;No Kenderaan / Pemandu (No Kad Pengenalan)</th>
                <th style="width:20%">&nbsp;Ejen Penghantaran</th>
                <th style="width:60%">&nbsp;Catatan</th>

            </tr>
            <tr>
                <td>
                    <span id="perihal">{{rubberSale.rubberType}}</span>
                </td>
                <td>
                    <span id="perihal">{{rubberSale.wetWeight}}</span>
                </td>
                <td>
                    <span id="perihal">{{rubberSale.transportPlateNo}} / {{rubberSale.driverName}} ({{rubberSale.driverIc}})</span>
                </td>
                <td>
                    <span id="perihal">{{rubberSale.deliveryAgent}}</span>
                </td>
                <td>
                    <span id="perihal">{{rubberSale.remark}}</span>
                </td>

            </tr>

        </table>

        <table width="90%">
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="7" style="font-style: italic;"><b>Ini adalah cetakan komputer dan tandatangan tidak diperlukan</b>
                </td>
            </tr>
            <tr>
                <td nowrap="nowrap" colspan="8" style="text-align: left;">Kebenaran bertulis ini dijana dari Sistem
                    RRIMestet pada {{dateNow | date:'dd-MM-yyyy HH:mm:ss'}}</td>
            </tr>
            <tr>

            </tr>
        </table>

    </div><br /><br />

</div>

<div class="break-after"></div>