<div class="box-container">
  <h1>Estate Information</h1>
  <hr />
  
  <table class="detailAdmin">
    <tr>
      <td>Estate Name</td>
      <td><span>:</span></td>
      <td>{{estate.name}}</td>

      <td>Company Name</td>
      <td><span>:</span></td>
      <td>{{estate.company}}</td>

    </tr>

    <tr>
      <td>License No</td>
      <td><span>:</span></td>
      <td>{{estate.licenseNo}}</td>

      <td>Area</td>
      <td><span>:</span></td>
      <td>{{estate.area}}</td>

    </tr>

    <tr>

      <td>Address</td>
      <td><span>:</span></td>
      <td>{{estate.add1}} {{estate.add2}} {{estate.add3}}</td>

      <td>District</td>
      <td><span>:</span></td>
      <td>{{estate.district}}</td>

    </tr>

    <tr>

      <td>Postcode</td>
      <td><span>:</span></td>
      <td>{{estate.postcode}}</td>

      <td>Parliment</td>
      <td><span>:</span></td>
      <td>{{estate.parliament}}</td>

    </tr>

    <tr>

      <td>State</td>
      <td><span>:</span></td>
      <td>{{estate.state}}</td>

      <td>Dun</td>
      <td><span>:</span></td>
      <td>{{estate.dun}}</td>

    </tr>

    <tr>
      <td>Town</td>
      <td><span>:</span></td>
      <td>{{estate.town}}</td>

      <td>Latitude</td>
      <td><span>:</span></td>
      <td>{{estate.latitude}}</td>

    </tr>

    <tr>

      <td>Estate Manager</td>
      <td><span>:</span></td>
      <td>{{estate.personInCharge}}</td>

      <td>Longitude</td>
      <td><span>:</span></td>
      <td>{{estate.longitude}}</td>

    </tr>

    <tr>

      <td>Contact No</td>
      <td><span>:</span></td>
      <td>{{estate.mobileCode}} {{estate.mobileNo}}</td>

      <td>Email</td>
      <td><span>:</span></td>
      <td>{{estate.email}}</td>

    </tr>

    <tr>

      <td>Estate Phone No</td>
      <td><span>:</span></td>
      <td>{{estate.phoneCode}} {{estate.phoneNo}}</td>

    </tr>


  </table>

  <br />
  <hr>

  <div style="columns: 2" class="column">
    <!-- <label>Land title (Grant No) :</label>
    <input type="text" name="ownershipNo" [(ngModel)]="estateDetail.grantNo" /> -->
    <label>Planting Material <span style="color: red;">*</span> :</label>
    <mat-select name="platingMaterial" placeholder="Please Choose" [(ngModel)]="estateDetail.plantingMaterialId">
      <mat-option *ngFor="let planting of filterPlantingMaterial" [value]="planting.id">
        {{planting.plantingMaterial}}
      </mat-option>
    </mat-select>
  </div>

  <div style="padding-right: 10px">
    <button style="float: right" class="btn-update" type="submit" (click)="update()">
      Update &nbsp; <i class="fa fa-pencil"></i>
    </button>
  </div>
  <div style="padding-left: 10px">
    <button class="btn-back" (click)="back()">
      <i class="fa fa-arrow-left"></i> &nbsp; Back
    </button>
  </div>

</div>