<div class="box-container">
  <div class="subsection">
    <h1>Announcement Information</h1>
  </div>


  <div class="subsection2">
    <form>
      <label>Title : </label>
      <input type="text" name="title" [(ngModel)]="announcement.tittle">
      <label>Hierarchy (Order No) : </label>
      <input type="number" name="hierarchy" [(ngModel)]="announcement.hierarchy">
    </form>
  </div>
  
  <div style="float: right;">
    <button class="btn-update" type="submit" (click)="update()">
      Update &nbsp; <i class="fa fa-pencil"></i>
    </button>
  </div>

  <div (click)="back()">
    <button class="btn-back">
      <i class="fa fa-arrow-left"></i> &nbsp; Back
    </button>
  </div>

</div>