<div class="box-container">
  <h1>Company Information</h1>
  <hr />
  <div>
    <table>
      <tr>
        <td>Company Name</td>
        <td><span>:</span></td>
        <td>{{ company.name }}</td>
      </tr>

      <tr>
        <td>Company Registration No</td>
        <td><span>:</span></td>
        <td>{{ company.registrationNumber }}</td>
      </tr>

      <tr>
        <td>Establishment</td>
        <td><span>:</span></td>
        <td>{{ company.category }}</td>
      </tr>

      <tr>
        <td>Email</td>
        <td><span>:</span></td>
        <td>{{ company.email }}</td>
      </tr>

      <tr>
        <td>Phone No</td>
        <td><span>:</span></td>
        <td>{{company.phoneCode}} {{ company.phoneNo }}</td>
      </tr>

      <tr>
        <td>Official Company Website</td>
        <td><span>:</span></td>
        <td>{{ company.website }}</td>
      </tr>

      <tr>
        <td>Address</td>
        <td><span>:</span></td>
        <td>
          {{ company.add1 }} {{ company.add2 }} {{ company.add3 }}
        </td>
      </tr>

      <tr>
        <td>Postcode</td>
        <td><span>:</span></td>
        <td>{{ company.postcode }}</td>
      </tr>

      <tr>
        <td>State</td>
        <td><span>:</span></td>
        <td>{{ company.state}} </td>
      </tr>

    </table>
  </div><br />

  <hr />

  <div style="columns: 2" class="column">
    <label>Membership :</label>
    <mat-select name="membership" placeholder="Please Choose" [(ngModel)]="companyDetail.membershipTypeId">
      <mat-option *ngFor="let membership of filterMemberships" [value]="membership.id">
        {{ membership.membershipType }}
      </mat-option>
    </mat-select>
  </div>

  <div style="columns: 2" class="column">
    <label>Start Financial Year :</label>
    <mat-select id="month" name="month" placeholder="Please Choose" [(ngModel)]="companyDetail.startFinancialYear" >
      <mat-option value="JANUARY">January</mat-option>
      <mat-option value="FEBRUARY">February</mat-option>
      <mat-option value="MARCH">March</mat-option>
      <mat-option value="APRIL">April</mat-option>
      <mat-option value="MAY">May</mat-option>
      <mat-option value="JUNE">June</mat-option>
      <mat-option value="JULY">July</mat-option>
      <mat-option value="AUGUST">August</mat-option>
      <mat-option value="SEPTEMBER">September</mat-option>
      <mat-option value="OCTOBER">October</mat-option>
      <mat-option value="NOVEMBER">November</mat-option>
      <mat-option value="DECEMBER">December</mat-option>
  </mat-select>
    <label>End Financial Year :</label>
    <mat-select id="month" name="month" placeholder="Please Choose" [(ngModel)]="companyDetail.endFinancialYear"  >
      <mat-option value="JANUARY">January</mat-option>
      <mat-option value="FEBRUARY">February</mat-option>
      <mat-option value="MARCH">March</mat-option>
      <mat-option value="APRIL">April</mat-option>
      <mat-option value="MAY">May</mat-option>
      <mat-option value="JUNE">June</mat-option>
      <mat-option value="JULY">July</mat-option>
      <mat-option value="AUGUST">August</mat-option>
      <mat-option value="SEPTEMBER">September</mat-option>
      <mat-option value="OCTOBER">October</mat-option>
      <mat-option value="NOVEMBER">November</mat-option>
      <mat-option value="DECEMBER">December</mat-option>
    </mat-select>
    
  </div>

  <div style="padding-right: 10px">
    <button style="float: right" class="btn-update" type="submit" (click)="update()">
      Update &nbsp; <i class="fa fa-pencil"></i>
    </button>
  </div>
  <div style="padding-left: 10px">
    <button class="btn-back" (click)="back()">
      <i class="fa fa-arrow-left"></i> &nbsp; Back
    </button>
  </div>

</div>