<div class="box-container">
  <div style="columns: 7">
    <button class="btn" routerLink="state" routerLinkActive="active">
      State
    </button>
    <button class="btn" routerLink="town" routerLinkActive="active">
      Town
    </button>
    <button class="btn" routerLink="financialYear" routerLinkActive="active">
      Financial Year
    </button>
    <button class="btn" routerLink="membershipType" routerLinkActive="active">
      Membership Type
    </button>
    <button class="btn" routerLink="establishment" routerLinkActive="active">
      Establishment
    </button>
    <button class="btn" routerLink="crop-category" routerLinkActive="active">
      Field Status
    </button>
    <button class="btn" routerLink="clone" routerLinkActive="active">
      Clone
    </button>
    <button class="btn" routerLink="country" routerLinkActive="active">
      Country
    </button>
    <!-- <button class="btn" routerLink="cost-type" routerLinkActive="active">
      Cost Type
    </button>
    <button class="btn" routerLink="cost-category" routerLinkActive="active">
      Cost Category
    </button> -->
    <!-- <button class="btn" routerLink="cost-item" routerLinkActive="active">
      Cost Item
    </button> -->
    <button class="btn" routerLink="labor-type" routerLinkActive="active">
      Local Labor Type
    </button>
    <button class="btn" routerLink="announcement" routerLinkActive="active">
      Slide announcement
    </button>
    <button class="btn" routerLink="ownership" routerLinkActive="active">
      Ownership
    </button>
    <button class="btn" routerLink="tapping-system" routerLinkActive="active">
      Tapping System
    </button>
    <button class="btn" routerLink="field-disease" routerLinkActive="active">
      Field Disease
    </button>
  </div>
  <br />
  <hr />
  <router-outlet></router-outlet>
</div>