<div class="box-container">
  <div style="columns: 4">
    <button class="btn" routerLink="planting-material" routerLinkActive="active">
      Planting Material
    </button>
    <button class="btn" routerLink="membershipType" routerLinkActive="active">
      Membership Type
    </button>
    <button class="btn" routerLink="crop-category" routerLinkActive="active">
      Field Status
    </button>
    <button class="btn" routerLink="other-crop" routerLinkActive="active">
      Other Crop
    </button>
    <button class="btn" routerLink="clone" routerLinkActive="active">
      Clone
    </button>
    <button class="btn" routerLink="country" routerLinkActive="active">
      Country
    </button>
    <!-- <button class="btn" routerLink="labor-type" routerLinkActive="active">
      Labor Type
    </button> -->
    <button class="btn" routerLink="announcement" routerLinkActive="active">
      Slide announcement
    </button>
    <!-- <button class="btn" routerLink="tapping-system" routerLinkActive="active">
      Tapping System
    </button> -->
    <button class="btn" routerLink="field-disease" routerLinkActive="active">
      Field Disease
    </button>
  </div>
  <br />
  <hr />
  <router-outlet></router-outlet>
</div>