label {
  font-size: 12px;
}

input {
  font-size: 12px;
}

.box {
  display: flex;
  justify-content: center;
}

.column {
  width: 60%;
  margin: 0 10px;
}

.columnTable {
  width: 40%;
  margin: 0 10px;
}

.column1 {
  columns: 2;
}

.column1 > * {
  break-inside: avoid-column;
}

span {
  font-size: 12px;
}
