span {
  font-size: 15px;
}

::ng-deep .mat-toolbar-row {
  width: auto !important;
}

.mat-toolbar-row {
  height: 86px;
}

.manual {
  color: white;
  float: right;
  margin-top: -35px;
  cursor: pointer;
}

img{
  width: 240px;
}

::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel{
  margin-top: 7px !important;
  margin-right: 17px;
}
