<div class="box-container">
    <div class="subsection">
        <h1>Rubber Sale Transaction</h1>
    </div>
    <div class="subsection2">
        <div class="disable-tabs"></div>

        <div class="iframe-container">
            <iframe title="RRIMestet Dashboard - Rubber Sale"
                src="https://app.powerbi.com/view?r=eyJrIjoiNjg5NzY5YjEtN2RkMC00YzUyLTg3NDYtZWMxYmNhMzM5NmMyIiwidCI6IjIyZjA3MTJiLTVkZWYtNGQyMS1hMTZlLTMwZTVlMzM0NTQxZSIsImMiOjEwfQ%3D%3D"
                frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
</div>