<div class="box-container">
  <ngx-skeleton-loader *ngIf="isLoading" appearance="line" animation="progress-dark"
    [theme]="{height:'20px', width:'50px'}"> </ngx-skeleton-loader>
  <h1>{{estate.name}}</h1>
  <hr />

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="By Country">
      <app-labor-foreigner></app-labor-foreigner>
    </mat-tab>
    <mat-tab label="By Category">
      <app-labor-local></app-labor-local>
    </mat-tab>
    <mat-tab label="Labor Shortage">
      <app-worker-shortage></app-worker-shortage>
    </mat-tab>
  </mat-tab-group>
</div>