input[type="month"] {
  width: 20%;
  padding: 10px 7px;
  margin: 7px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"] {
  width: 70px;
  padding: 3px 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"] {
  width: 150px;
  height: auto;
  resize: vertical;
}

.td {
  padding: 2px;
}



.monthYear {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-update {
  padding: 4px 13px;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

th {
  padding: 5px !important;
  font-size: 12px;
}

.summary {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 50%;
  padding: 10px;
}

.summaryBtn {
  border: none;
  background-color: rgb(154, 154, 42);
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 15px;
  color: white;
  margin-bottom: 10px;
}

.printBtn {
  border: none;
  background-color: blueviolet;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 15px;
  color: white;
  margin-bottom: 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.column {
  width: 100%;
  margin: 0 5px;
  text-align: center;
  color: black;
}

.color1 {
  background-color: #59788e96;
  height: 50px;
}

.color2 {
  background-color: #0492c259;
  height: 50px;
}

.color3 {
  background-color: #48aaad91;
  height: 50px;
}

.color4 {
  background-color: #4872ad8a;
  height: 50px;
}

.box-container {
  box-shadow: none;
}

@media only screen and (max-width: 768px) {
  .box{
    padding: 0;
  }
  .column{
    height: 74px;
    span{
      font-size: 12px;
    }
  }

  b{
    font-size: 12px;
  }

}
