<mat-toolbar>
  <mat-toolbar-row>
    <div>
      <button mat-button class="menu-button" *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
      </button>
    </div>
    <span class="span"><img width="40px" style="padding: 5px;"
        src="assets/Images/LGM-logo.png" /></span> &nbsp;
    <span class="homelink" routerLink="/home">Malaysian Rubber Board</span>

    <span class="flexExpand"></span>
    <span style="cursor: pointer;" [matMenuTriggerFor]="profile"><i class="fa fa-address-card"></i></span> &nbsp;
    &nbsp;

    <span style="cursor: pointer;" [matMenuTriggerFor]="info"><i class="fa fa-info"></i></span> &nbsp;
    &nbsp;

    <div *ngIf="role == 'EstateClerk'">
      <span style="cursor: pointer;" routerLink="/notification">
        <i class="fa fa-envelope"></i>
        <div class="badge" *ngIf="badgeCount > 0">
          <div style="margin-top: -6px;"><span>{{ badgeCount }}</span></div>
        </div>
      </span>&nbsp; &nbsp;
    </div>

    <mat-menu #profile="matMenu">
      <div style="padding: 10px;overflow: hidden; font-size: 14px;">
        <span><i class="fa fa-id-card"></i> Full Name: {{fullName}}</span><br />
        <span><i class="fa fa-id-card"></i> Username: {{username}} </span><br />
        <span><i class="fa fa-envelope"></i> Email: {{email}}</span><br />
        <span><i class="fa fa-user"></i> Position : {{position}}</span><br />
        <hr>
        <div style="text-align: center;">
          <div *ngIf="role != 'Admin' && role != 'Management'">
            <a (click)="changePassword()" style="text-decoration: underline; cursor: pointer;">Change Password</a><br />
          </div>
          <button *ngIf="role != 'Admin' && role != 'Management'" class="btn-danger" (click)="logOut()">LOGOUT</button>
          <button *ngIf="role == 'Admin' || role == 'Management'" class="btn-danger" (click)="logOutStaff()">LogOut Staff</button>
        </div>

      </div>
    </mat-menu>

    <mat-menu #info="matMenu">
      <div style="padding: 10px;overflow: hidden; font-size: 14px; text-align: center;">
        <div *ngIf="role == 'EstateClerk'">
          <span style="font-weight: bold;">Estate Responsibility</span><br />
          <hr />
          <span>
            The estate is responsible for filling in daily sales, monthly production, total workforce, stock
            and annually rubber plantation area, production costs information.
          </span>
          <br />
          <hr style="border-top: 2px dotted navy">
        </div>

        <span style="font-weight: bold;">e-Estate Info</span><br />
        <hr />
        <span>Data, statistics and information obtained from the implementation of the e-Estate project are rubber
          production data,
          rubber production costs, rubber productivity, rubber plantation area and the total workforce of the estate
          sector.</span>
        <hr/>

        <div (click)="downloadFile()">
          <button class="btn-update" >User Manual <i class="fa fa-download"></i>&nbsp; &nbsp;</button>
        </div>

      </div>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>