<br />
<h1>Field Status Utility</h1>
<form>
  <label>Maturity : </label>
  <mat-select placeholder="Please Choose" name="maturity" [(ngModel)]="crop.isMature">
    <mat-option [value]="true">MATURE</mat-option>
    <mat-option [value]="false">IMMATURE</mat-option>
  </mat-select>

  <label>Field Status : </label>
  <input type="text" name="crop" [(ngModel)]="crop.fieldStatus" />
</form>

<button style="float: right" class="btn-add" (click)="submit()">
  Add &nbsp; <i class="fa fa-plus"></i>
</button>

<br /><br />
<hr />

<h1>List of Field Status</h1>
<div class="box-container">
  <input type="text" [(ngModel)]="term" placeholder="Filter Field Status" />
  <table style="width: 100%">
    <tr>
      <th width="30px">No</th>
      <th style="cursor: pointer;" *ngFor="let column of sortableColumns" scope="col" [appSort]="cropCategories"
        [attr.data-order]="order" [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)">
        {{ column.displayText }}
        <i class="fa" [ngClass]="{'fa-chevron-down': order === 'desc' && currentSortedColumn === column.columnName,
                                'fa-chevron-up': order === 'asc' && currentSortedColumn === column.columnName}"></i>
      </th>
      <th width="90px">Action</th>
    </tr>

    <tr *ngIf="isLoading">
      <td colspan="4">
        <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
        </ngx-skeleton-loader>
      </td>
    </tr>

    <tr
      *ngFor="let crop of cropCategories | filter : term | paginate: { itemsPerPage: 10, currentPage: pageNumber }; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ crop.isMature == true ? "MATURE" : "IMMATURE" }}</td>
      <td>{{ crop.fieldStatus }}</td>
      <td>
        <button (click)="status(crop)" [ngClass]="{
            'active-btn': crop.isActive == true,
            'inactive-btn': crop.isActive == false
          }">
          {{ crop.isActive == true ? "Active" : "Inactive" }}
        </button>
      </td>
    </tr>
  </table>

  <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

</div>