.date {
  width: 20%;
  padding: 10px 7px;
  margin: 7px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

label {
  font-size: 15px;
  flex-basis: 130px;
}

form {
  display: flex;
  align-items: center;
}

table {
  margin-bottom: 22px;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.year {
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 12px 0 12px !important;
}

.amount {
  width: 150px;
  padding: 3px 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.td {
  padding: 2px;
}

td {
  text-align: left !important;
  width: 120px;
}

.box-container {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 70%;
}

button:disabled {
  cursor: not-allowed;
}
