<div *ngIf="isLoading">
  <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}"> </ngx-skeleton-loader>
</div>

<div class="box-container" *ngIf="!isLoading">
  <h1>{{ estate.estateName }}</h1>
  <hr />

  <div style="float:right;" *ngIf="userRole == 'EstateClerk'">
    <button style="float: right; margin-right:8px; padding: 10px 13px;border-radius: 0;" [ngClass]="{
      'active-btn': estate.isActive == true,
      'inactive-btn': estate.isActive == false
    }">
      {{ estate.isActive == true ? "Active" : "Inactive" }}
    </button>
    <br />
    <button class="btn-update" (click)="openDialog(estate)">
      Update &nbsp; <i class="fa fa-pencil"></i>
    </button>
  </div>

  <div style="float:right;" *ngIf="userRole !== 'EstateClerk'">
    <button (click)="status(estate)" style="float: right; margin-right:8px; padding: 10px 13px;" [ngClass]="{
      'active-btn': estate.isActive == true,
      'inactive-btn': estate.isActive == false
    }">
      {{ estate.isActive == true ? "Activate" : "Deactivate" }}
    </button>
    <br />
    <button class="btn-update" (click)="openDialog(estate)">
      Update &nbsp; <i class="fa fa-pencil"></i>
    </button>
  </div>

  <div style="overflow-x: auto; " *ngIf="userRole !== 'EstateClerk'">
    <table class="detailAdmin" [ngClass]="{'adminTable': userRole !=='EstateClerk' }">
      <tr>
        <td>Estate Name</td>
        <td><span>:</span></td>
        <td>{{ estate.estateName }}</td>

        <td>License No</td>
        <td><span>:</span></td>
        <td>{{ estate.licenseNo }}</td>

      </tr>

      <tr>
        <td>Address</td>
        <td><span>:</span></td>
        <td>
          {{ estate.address1 }}, {{ estate.address2 }}, {{ estate.address3 }},
        </td>

        <td>Company Name</td>
        <td><span>:</span></td>
        <td>{{ estate.companyName }}</td>

      </tr>

      <tr>
        <td>Postcode</td>
        <td><span>:</span></td>
        <td *ngFor="let town of estate.towns">{{ estate.postcode }}, {{ town.town }}, {{ estate.state }} </td>

        <td>Total Area (Ha)</td>
        <td><span>:</span></td>
        <td>{{ estate.totalArea }}</td>
      </tr>

      <tr>
        <td>Financial Year</td>
        <td><span>:</span></td>
        <td *ngFor="let financialYear of estate.financialYears">{{ financialYear.financialYear }}</td>

        <td>Establishment Name</td>
        <td><span>:</span></td>
        <td *ngFor="let establishment of estate.establishments">{{ establishment.establishment }}</td>
      </tr>

      <tr>
        <td>Membership Type</td>
        <td><span>:</span></td>
        <td>{{ estate.membership }}</td>

        <td>Email</td>
        <td><span>:</span></td>
        <td>{{ estate.email }}</td>
      </tr>

      <tr>
        <td>Phone No</td>
        <td><span>:</span></td>
        <td>{{ estate.phone }}</td>

        <td>Estate Manager</td>
        <td><span>:</span></td>
        <td>{{ estate.managerName }}</td>
      </tr>

      <tr>
        <td>Fax No</td>
        <td><span>:</span></td>
        <td>{{ estate.fax }}</td>

        <td>Latitude-Longitude</td>
        <td><span>:</span></td>
        <td>{{ estate.latitudeLongitude }}</td>
      </tr>

    </table>
  </div>

  <div style="overflow-x: auto;" *ngIf="userRole == 'EstateClerk'">
    <table class="detailClerk">
      <tr>
        <td>Estate Name</td>
        <td><span>:</span></td>
        <td>{{ estate.estateName }}</td>
      </tr>

      <tr>
        <td>Address</td>
        <td><span>:</span></td>
        <td>
          {{ estate.address1 }}, {{ estate.address2 }}, {{ estate.address3 }}
        </td>
      </tr>

      <tr>
        <td>Postcode</td>
        <td><span>:</span></td>
        <td *ngFor="let town of estate.towns">{{ estate.postcode }}, {{ town.town }}, {{ estate.state }} </td>
      </tr>

      <tr>
        <td>Email</td>
        <td><span>:</span></td>
        <td>{{ estate.email }}</td>
      </tr>


      <tr>
        <td>License No</td>
        <td><span>:</span></td>
        <td>{{ estate.licenseNo }}</td>
      </tr>

      <tr>
        <td>Total Area (Ha)</td>
        <td><span>:</span></td>
        <td>{{ estate.totalArea }}</td>
      </tr>

      <tr>
        <td>Financial Year</td>
        <td><span>:</span></td>
        <td *ngFor="let financialYear of estate.financialYears">{{ financialYear.financialYear }}</td>
      </tr>

      <tr>
        <td>Establishment Name</td>
        <td><span>:</span></td>
        <td *ngFor="let establishment of estate.establishments">{{ establishment.establishment }}</td>
      </tr>

      <tr>
        <td>Membership Type</td>
        <td><span>:</span></td>
        <td>{{ estate.membership }}</td>
      </tr>

      <tr>
        <td>Phone No</td>
        <td><span>:</span></td>
        <td>{{ estate.phone }}</td>
      </tr>

      <tr>
        <td>Fax No</td>
        <td><span>:</span></td>
        <td>{{ estate.fax }}</td>
      </tr>

      <tr>
        <td>Latitude-Longitude</td>
        <td><span>:</span></td>
        <td>{{ estate.latitudeLongitude }}</td>
      </tr>

      <tr>
        <td>Estate Manager</td>
        <td><span>:</span></td>
        <td>{{ estate.managerName }}</td>
      </tr>

      <tr>
        <td>Company Name</td>
        <td><span>:</span></td>
        <td>{{ estate.companyName }}</td>
      </tr>

    </table>
  </div>

  <br />

  <div class="box-container" *ngIf="userRole !== 'EstateClerk'">
    <h1>List of Fields</h1>
    <hr />
    <button style="margin-bottom: 10px" class="btn-add" routerLink="/e-estate/field-info/{{estate.id}}">
      Add New Field &nbsp; <i class="fa fa-plus"></i>
    </button>
    <br />
    <input type="text" [(ngModel)]="term" placeholder="Filter Field" />

    <label><b>Total Area : {{ total }} Ha</b></label>
    <div style="overflow-x: auto; width: 100%;">
      <table style="width: 100%;">
        <tr>
          <th class="th" *ngFor="let column of sortableColumns" scope="col" [appSort]="estate.fields"
            [attr.data-order]="order" [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)">
            {{ column.displayText }}
            <i class="fa"
              [ngClass]="{'fa-chevron-down': order === 'desc' && currentSortedColumn === column.columnName,
                                    'fa-chevron-up': order === 'asc' && currentSortedColumn === column.columnName}"></i>
          </th>
          <th class="th" width="90px">Status</th>
          <th class="th" width="30px">Action</th>
        </tr>

        <tbody
          *ngFor="let fields of estate.fields | filter : term | paginate: { itemsPerPage: 10, currentPage: pageNumber }">
          <tr class="list" style="cursor:default;">
            <td class="td" style="cursor: pointer;" routerLink="/e-estate/field-detail/{{ fields.id }}"><a>{{
                fields.fieldName }}</a></td>
            <td class="td">{{ fields.area }}</td>
            <td class="td">
              {{ fields.isMature == true ? "Mature" : "Immature" }}
            </td>
            <!-- <td *ngFor="let status of fields.fieldStatus" class="td">{{ status.fieldStatus }}</td> -->
            <td class="td">{{fields.fieldStatus}}</td>
            <td class="td">{{ fields.yearPlanted }}</td>
            <td class="td">{{ fields.dateOpenTapping | date : "dd/MM/YYYY" }}</td>
            <td class="td">{{ fields.initialTreeStand }}</td>
            <td class="td">{{fields.totalTask}}</td>
            <td class="td">
              <button style="pointer-events: none; border-radius: 0px;" [ngClass]="{
                'active-btn': fields.isActive == true,
                'inactive-btn': fields.isActive == false
              }">
                {{ fields.isActive == true ? "Active" : "Inactive" }}
              </button>
            </td>
            <td class="td" *ngIf="selectedField !== fields"><i class="fa fa-chevron-down" style="cursor:pointer"
                (click)="toggleSelectedField(fields)"></i></td>
            <td class="td" *ngIf="selectedField === fields"><i class="fa fa-chevron-up" style="cursor:pointer"
                (click)="toggleSelectedField(fields)"></i></td>
          </tr>

          <tr *ngIf="selectedField === fields && conversionField.length !=0 ">
            <td colspan="11">
              <table style="width: 100%; background-color: antiquewhite;">
                <tr>
                  <th>Field/Block Name</th>
                  <th>Other Crop Conversion Name</th>
                  <th>Since Year</th>
                </tr>

                <tr *ngFor="let conversion of conversionField">
                  <td>{{conversion.fieldName}}</td>
                  <td>{{conversion.conversionCropName}}</td>
                  <td>{{conversion.sinceYear}}</td>
                </tr>
              </table>
            </td>
          </tr>


          <tr *ngIf="selectedField === fields && conversionField.length ==0">
            <td style="width: 100%; background-color: antiquewhite;" colspan="12"> <b> No field conversion data found
              </b> </td>
          <tr>

        </tbody>
      </table>

      <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

    </div>
  </div>
  <br />

  <div *ngIf="userRole !== 'EstateClerk'">
    <button class="btn-back" (click)="back()">
      <i class="fa fa-arrow-left"></i> &nbsp; Back
    </button>
  </div>
</div>