.detailAdmin td {
  text-align: left;
  padding: 3px;
  border-bottom: none;
}

.adminTable {
  width: 100%;
}

.detailClerk td {
  text-align: left;
  padding: 3px;
  border-bottom: none;
}

.th {
  background-color: #002b5c;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.td {
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid rgb(233, 228, 228);
}
