<br />
<h1>Ownership Utility</h1>
<form>
  <label>Ownership : </label>
  <input type="text" name="ownership" [(ngModel)]="ownership.ownership" />
</form>

<button style="float: right" class="btn-add" (click)="submit()">
  Add &nbsp; <i class="fa fa-plus"></i>
</button>

<br /><br />
<hr />

<h1>List of Ownership</h1>
<div class="box-container">
  <input type="text" [(ngModel)]="term" placeholder="Filter Ownership" />
  <table style="width: 100%">
    <tr>
      <th width="30px">No</th>
      <th style="cursor: pointer;" *ngFor="let column of sortableColumns" scope="col" [appSort]="ownerships"
        [attr.data-order]="order" [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)">
        {{ column.displayText }}
        <i class="fa" [ngClass]="{'fa-chevron-down': order === 'desc' && currentSortedColumn === column.columnName,
                                'fa-chevron-up': order === 'asc' && currentSortedColumn === column.columnName}"></i>
      </th>
      <th width="90px">Action</th>
    </tr>

    <tr *ngIf="isLoading">
      <td colspan="3">
        <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
        </ngx-skeleton-loader>
      </td>
    </tr>

    <tr
      *ngFor="let ownership of ownerships | filter : term | paginate: { itemsPerPage: 10, currentPage: pageNumber }; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ ownership.ownership }}</td>
      <td>
        <button (click)="status(ownership)" [ngClass]="{
            'active-btn': ownership.isActive == true,
            'inactive-btn': ownership.isActive == false
          }">
          {{ ownership.isActive == true ? "Active" : "Inactive" }}
        </button>
      </td>
    </tr>
  </table>

  <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

</div>