<div class="box-container">
  <div class="subsection">
    <h1>Cost Information</h1>
  </div>

  <form style="margin-top: 10px;">
    <div style="display: flex; width: 60%; align-items: center; justify-content: space-between;">
      <div style="width: 40%; margin-right: 10px;">
        <label>Month and Year :</label>
        <input type="month" name="month" [(ngModel)]="selectedMonth" #month (input)="monthSelected(month.value)" />
      </div>

      <div style="width: 60%; display: flex; flex-wrap: wrap; align-items: center;">
        <label style="width: 100%;">Cost Type :</label>
        <button *ngFor="let costType of costType" class="btn" (click)="buttonClicked(costType.costType, costType.id)"
          [ngClass]="{ 'active': activeButton === costType.costType }" style="margin-bottom: 5px;">
          {{costType.costType}}
        </button>
      </div>
    </div>
  </form>

  <div *ngIf="activeButton =='DIRECT' || activeButton == 'DIRECT COST' ">
    <app-direct-cost [costTypeId]="clickedCostTypeId" [selectedMonthYear]="selectedMonthForTabs"></app-direct-cost>
  </div>

  <div *ngIf="activeButton == 'INDIRECT' || activeButton == 'INDIRECT COST'">
    <app-indirect-cost [costTypeId]="clickedCostTypeId" [selectedMonthYear]="selectedMonthForTabs"></app-indirect-cost>
  </div>