<br />
<h1>Local Labor Type Utility</h1>
<form>
  <label>Local Labor Type : </label>
  <input type="text" name="laborType" [(ngModel)]="labor.laborType" />
</form>

<button style="float: right" class="btn-add" (click)="submit()">
  Add &nbsp; <i class="fa fa-plus"></i>
</button>

<br /><br />
<hr />

<h1>List of Local Labor Type</h1>
<div class="box-container">
  <input type="text" [(ngModel)]="term" (ngModelChange)="onFilterChange($event)" placeholder="Filter Labor Type" />
  <table style="width: 100%">
    <tr>
      <th width="30px">No</th>
      <th style="cursor: pointer;" *ngFor="let column of sortableColumns" scope="col" [appSort]="labors"
        [attr.data-order]="order" [attr.data-name]="column.columnName" (click)="toggleSort(column.columnName)">
        {{ column.displayText }}
      </th>
      <th width="90px">Action</th>
    </tr>

    <tr *ngIf="isLoading">
      <td colspan="3">
        <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{height:'50px'}">
        </ngx-skeleton-loader>
      </td>
    </tr>

    <tr
      *ngFor=" let labor of labors | filter : term | paginate: { itemsPerPage: itemsPerPage, currentPage: pageNumber };  let i = index ">
      <td>{{ calculateIndex(i) }}</td>
      <td>{{ labor.laborType }}</td>
      <td>
        <button (click)="status(labor)" [ngClass]="{
            'active-btn': labor.isActive == true,
            'inactive-btn': labor.isActive == false
          }">
          {{ labor.isActive == true ? "Active" : "Inactive" }}
        </button>
      </td>
    </tr>
  </table>

  <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>


</div>